<%= simple_form_for(widgets_simple, html: {
  'data-controller': 'direct-upload'
}) do |f| %>

<!--  <div class="my-3">-->
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <%= render(
      ReactComponent.new( name: 'Alert',
                          class: '',
                          props: {
                            type: 'info',
                            children: notice
                          }))
    %>
    <%= render TopPageNotifyComponent.new(message: notice, alert_type: 'primary') %>
<!--  </div>-->

  <div class="form-inputs">
    <%= f.input :url,
                wrapper_html: {class: 'mb-3'},
                label_html: { :class => "mb-2" } %>

    <%= f.input :title,
                wrapper_html: {class: 'mb-3'},
                label_html: { :class => "mb-2" } %>

    <%= f.input :body,
                input_html: {
                  'data-controller': 'textarea-autogrow'
                },
                wrapper_html: {class: 'mb-3'},
                label_html: { :class => "mb-2" } %>

    <%= f.input :pictures,
                as: :file,
                input_html: {
                  multiple: true,
                  class: 'form-control',
                  direct_upload: true,
                  'data-direct-upload-target': 'inputFile'
                },
                wrapper_html: {class: 'mb-3'},
                label_html: { :class => "mb-2" },
                label: t('.pictures') %>

    <%= f.fields_for :pictures do |picture_form| %>
      <%= tag.div class: cycle("p-2 my-3 bg-teal-lt", "p-2 my-3 bg-cyan-lt") do %>
        <% picture = picture_form.object.picture %>
        <%= image_tag picture.variant(resize_to_limit: [100, 100]), class: 'img-thumbnail mb-3' if picture.variable? %>
        <%= picture_form.input :picture, input_html: { value: picture.signed_id }, as: :hidden %>
        <%= picture_form.input :order, wrapper_html: {class: 'mb-3'}, label_html: { :class => "mb-2" } %>
        <%= picture_form.input :_destroy, as: :boolean, wrapper_html: {class: 'mt-3'} %>
        <% if false %>
          <p>blob_id: <%= picture.blob_id %></p>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="form-footer">
    <%= f.button :submit, class: 'btn btn-pink' %>
  </div>
<% end %>
