<% content_for :modal_title do %>
  <%= link_to widgets_path, class: 'btn btn-icon btn-link' do %>
    <%== GlobalHelper.icon('arrow-left') %>
  <% end %>

  <%= t('.editing_widget') %>
<% end %>

<% content_for :modal_body do %>
  <%= render 'content' %>
<% end %>

<% content_for :modal_footer do %>
<!--  <button type="button" class="btn btn-light me-auto" data-bs-dismiss="modal"><%#= t('close') %></button>-->
  <%= link_to 'Назад к списку виджетов', widgets_path, class: 'btn btn-pink' %>
<% end %>


<%= render template: 'widgets/modal_wrapper' %>
