<%= tag.div id: "card_entity_#{@entity_id}",
            'data-controller': 'mention-edit-entity' do %>

  <%= tag.div class: 'alert alert-success position-relative d-flex min-height-50 align-items-stretch bg-green-lt shadow-sm mb-3 p-1',
              'data-controller': 'mention-detach-entity' do %>

    <div class="overflow-auto flex-grow-1 d-lg-flex align-items-stretch">

      <div class="flex-shrink-0 m-1 d-lg-flex flex-lg-column justify-content-lg-center">
        <%= render Mentions::ImageLightboxComponent.new(
          **@image.symbolize_keys,
          class: 'mt-2 mt-md-0 mx-auto bg-white img-thumbnail',
          size: '100'
        ) %>
      </div>

      <div class="flex-grow-1 m-2 overflow-auto d-flex flex-column justify-content-center">
        <div>
          <div class="mb-1">
            <% if @linkable %>
                <%= link_to @title, entity_path(@entity_id), target: '_blank', class: 'entity-title text-decoration-none' %>
              <% else %>
                <%= tag.div @title, class: 'entity-title' %>
            <% end %>
          </div>

          <div class="mb-2">
            <%= tag.small @intro, class: 'entity-intro text-secondary' %>
          </div>

          <% if @lookups.present? %>
            <div class="entity-lookups mb-1">
              <%= render(TextTagComponent.with_collection(@lookups, linkify: false, color: 'azure')) %>
            </div>
          <% end %>

          <% if @topics.present? %>
            <div class="entity-topics">
              <%= render(TextTagComponent.with_collection(@topics, linkify: false)) %>
            </div>
          <% end %>

        </div>
      </div>

      <% if @assignable %>
        <div class="flex-shrink-0 m-1 d-lg-flex flex-lg-column justify-content-lg-center">
          <%= link_to '#',
                      id: "assign-entity-#{@entity_id}",
                      class: "assign-entity my-2 btn btn-icon btn-green align-self-center p-2 me-2",
                      'data-action': 'click->mention-new-entity#assignEntity',
                      'data-mention-new-entity-card-path-param': card_mentions_entity_path(id: @entity_id, form_id: @form_id) do %>
            <i class="fas fa-plus"></i>
          <% end %>
        </div>
      <% end %>

    </div>

    <% if @controllable %>

      <div class="flex-shrink-1 d-flex flex-column justify-content-center me-1">

        <%= hidden_field_tag "mention[related_entities][#{@entity_id}][id]", @entity_id, form: @form_id %>


        <%= link_to '#',
                    id: "remove_entity_#{@entity_id}",
                    class: 'mb-1 btn btn-icon btn-ghost-danger align-self-center p-2',
                    'data-action': 'mention-detach-entity#removeEntity' do %>
          <i class="fas fa-times"></i>
        <% end %>


        <div class="my-2 p-0 form-check form-switch align-self-center">
          <%= hidden_field_tag "mention[related_entities][#{@entity_id}][is_main]", false, form: @form_id %>
          <%= check_box_tag "mention[related_entities][#{@entity_id}][is_main]", '1', @is_main, class: "form-check-input m-0 p-0", form: @form_id %>
        </div>


        <%= link_to '#',
                    id: "edit_entity_#{@entity_id}",
                    class: 'mt-1 btn btn-icon btn-ghost-warning align-self-center p-2',
                    'data-action': 'click->mention-edit-entity#openModal',
                    'data-mention-edit-entity-url-param': edit_mentions_entity_path(id: @entity_id, form_id: @form_id) do %>
          <i class="fas fa-pen"></i>
        <% end %>

      </div>
    <% end %>
  <% end %>

  <%= tag.div 'data-mention-edit-entity-target': 'modalPlaceholder' %>
<% end %>
