<ul class="nav nav-pills flex-column mb-auto">
  <li class="nav-item">
    <% categories.each do |child| %>
      <% if child.is_a?(Array) %>
        <%= render 'websites/categories', categories: child if child.any? %>
      <% elsif child.is_a?(Hash) %>
        <%= render 'websites/categories', categories: child if child.any? %>
      <% else %>
        <div class="d-block-flex">
        <% css_class = ' active' if current_page?(category_path(child.id, locale: nil)) %>
        <%= link_to category_path(child.id, locale: nil), class: "nav-link #{css_class}" do %>
            <%= child.title %>
            <span class="badge bg-primary rounded-pill ms-auto"><%= child.posts_count %></span>
          <% end %>
        </div>
  <% end %>
    <% end %>
  </li>
</ul>
