<p id="notice"><%= notice %></p>

<h1>Template3s</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @template3s.each do |template3| %>
      <tr>
        <td><%= template3.title %></td>
        <td><%= link_to 'Show', template3 %></td>
        <td><%= link_to 'Edit', edit_template3_path(template3) %></td>
        <td><%= link_to 'Destroy', template3, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Template3', new_template3_path %>
