<% render 'breadcrumbs' %>

<% content_for :title do %>
  <%= t("titles.dashboard") %>
<% end %>

<div class="col">
  <div class="row">
    <div class="col-md-8 mb-3">

      <h2><%= t('.posts_statuses') %></h2>
      <% [['draft_post', 'pending_post', 'approved_post'], ['accrued_post', 'rejected_post', 'canceled_post']].each do |statuses| %>
        <div class="row">
          <% statuses.each do |status| %>
            <% if current_user.user? %>
              <% scope = current_user.posts %>
            <% else %>
              <% scope = Post %>
            <% end %>
            <% count = scope.where(status: status).count %>
            <%= render 'post_card', status: status, count: count %>
          <% end %>
        </div>
      <% end %>

      <h2><%= t('.today_rates') %></h2>
      <div class="row">
        <% ExchangeRate.pick.currencies.each do |excchange_rate| %>
          <%= render 'exchange_rate_card', currency_code: excchange_rate['key'], currency_value: excchange_rate['value']  %>
        <% end %>
      </div>

      <h2><%= t('.under_construction') %></h2>
      <%= render 'dashboard/widgets/payments' %>
    </div>

    <div class="col-md-4">

      <h2><%= t('.accounts') %></h2>
      <% Rails.configuration.available_currencies.each do |currency| %>
        <div class="mb-3">
          <%= render 'shared/balance/account', currency: currency, user: current_user %>
        </div>
      <% end %>
      <%= link_to t('buttons.checks'), checks_path, class: 'btn btn-pink d-block' %>

      <div class="my-3"></div>

      <h2><%= t('.news') %></h2>
      <%= turbo_frame_tag 'latest-news', src: frames_news_latest_path %>
    </div>
  </div>

  <% if false %>
  <div class="row">
    <div class="col">
      <div class="row row-deck row-cards">
        <div class="col-sm-6 col-lg-3">

          <div class="card">


            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="subheader">Sales</div>
                <div class="ms-auto lh-1">
                  <div class="dropdown">
                    <a class="dropdown-toggle text-muted" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Last 7 days</a>
                    <div class="dropdown-menu dropdown-menu-end">
                      <a class="dropdown-item active" href="#">Last 7 days</a>
                      <a class="dropdown-item" href="#">Last 30 days</a>
                      <a class="dropdown-item" href="#">Last 3 months</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="h1 mb-3">75%</div>
              <div class="d-flex mb-2">
                <div>Conversion rate</div>
                <div class="ms-auto">
                      <span class="text-green d-inline-flex align-items-center lh-1">
                        7% <svg xmlns="http://www.w3.org/2000/svg" class="icon ms-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="3 17 9 11 13 15 21 7"></polyline><polyline points="14 7 21 7 21 14"></polyline></svg>
                      </span>
                </div>
              </div>
              <div class="progress progress-sm">
                <div class="progress-bar bg-blue" style="width: 75%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                  <span class="visually-hidden">75% Complete</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="subheader">Revenue</div>
                <div class="ms-auto lh-1">
                  <div class="dropdown">
                    <a class="dropdown-toggle text-muted" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Last
                      7 days</a>
                    <div class="dropdown-menu dropdown-menu-end">
                      <a class="dropdown-item active" href="#">Last 7 days</a>
                      <a class="dropdown-item" href="#">Last 30 days</a>
                      <a class="dropdown-item" href="#">Last 3 months</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex align-items-baseline">
                <div class="h1 mb-0 me-2">$4,300</div>
                <div class="mr-auto">
              <span class="text-green d-inline-flex align-items-center lh-1">
                8% <svg xmlns="http://www.w3.org/2000/svg" class="icon ms-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="3 17 9 11 13 15 21 7"/><polyline points="14 7 21 7 21 14"/></svg>
              </span>
                </div>
              </div>
            </div>
            <%= tag.div data: {
                controller: 'chart',
                chart_dates: @test['aggregations']['by_debit_id']['by_debit_code']['buckets'].find { |bucket| bucket['key'] == 'pending_post' }&.dig('by_created_at', 'buckets')&.map { |datetime| Time.zone.parse(datetime['key_as_string']).to_date },
                chart_values: @test['aggregations']['by_debit_id']['by_debit_code']['buckets'].find { |bucket| bucket['key'] == 'pending_post' }&.dig('by_created_at', 'buckets')&.map { |bucket| bucket['by_debit_amount']['top'].first&.dig('metrics', 'debit_amount')&.round(2) }
            },
                        class: 'chart-sm' %>
          </div>
        </div>

      </div>
    </div>
  </div>
  <% end %>
</div>
