<p id="notice"><%= notice %></p>

<h1>Template1s</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @template1s.each do |template1| %>
      <tr>
        <td><%= template1.name %></td>
        <td><%= template1.gender %></td>
        <td><%= link_to 'Show', template1 %></td>
        <td><%= link_to 'Edit', edit_template1_path(template1) %></td>
        <td><%= link_to 'Destroy', template1, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Template1', new_template1_path %>
