<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @template1.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @template1.gender %>
</p>

<%= link_to 'Edit', edit_template1_path(@template1) %> |
<%= link_to 'Back', template1s_path %>
