<figure class="img-thumbnail attachment attachment--<%= blob.representable? ? "preview" : "file" %> attachment--<%= blob.filename.extension %>">
  <% if blob.representable? %>

    <% max_width = 2560 %>
    <% max_height = 1600 %>

    <% width, height = new_size_for_lightbox(max_width, max_height, blob.metadata['width'], blob.metadata['height']) %>

    <%= link_to blob.representation(resize_to_limit: [ max_width, max_height ] ),
                'data-pswp-width': width ? width : max_width ,
                'data-pswp-height': height ? height : max_height,
                'target': '_blank',
                class: 'photo-swipe' do %>
      <%= image_tag blob.representation(resize_to_limit: local_assigns[:in_gallery] ? [ 800, 600 ] : [ 1024, 768 ]) %>
    <% end %>
  <% end %>

  <figcaption class="attachment__caption">
    <% if caption = blob.try(:caption) %>
      <%= caption %>
    <% else %>
      <span class="attachment__name"><%= blob.filename %></span>
      <span class="attachment__size"><%= number_to_human_size blob.byte_size %></span>
    <% end %>
  </figcaption>
</figure>
