<% content_for :title do %>
  <%= t("titles.feeds") %>
<% end %>

<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item">
    <%= link_to t('breadcrumbs.homepage'), root_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to t('breadcrumbs.dashboard'), dashboard_path %>
  </li>
  <li class="breadcrumb-item active">
    <%=link_to t('breadcrumbs.feeds'), feeds_path %>
  </li>
<% end %>

<div class="card">
  <div class="table-responsive">
    <table class="table card-table table-vcenter text-nowrap datatable">

      <thead>
        <tr>
          <th>Id</th>
          <th>Advertiser</th>
          <th>Feed</th>
          <th>Offers count</th>
          <th>Categories count</th>
          <th>Succeeded at</th>
        </tr>
      </thead>

      <tbody>
        <% @feeds.each do |feed| %>
        <tr>
          <td>
            <%= feed.id %>
          </td>
          <td>
            <%= link_to feed.advertiser.name, advertiser_path(feed.advertiser.slug) %>
          </td>
          <td>
            <%= link_to feed.name, feed_offers_path(feed.slug) %>
          </td>
          <td>
            <%= feed.offers_count %>
          </td>
          <td>
            <%= feed.categories_count %>
          </td>
          <td>
            <%= l feed.last_succeeded_at, format: :short %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="card-footer d-sm-flex align-items-center">
    <p class="m-sm-0 text-muted">Showing <span>1</span> to <span><%= @feeds.size %></span> of <span><%= @total_count %></span> entries</p>
    <%= paginate @feeds %>
  </div>

</div>
