<% content_for :title do %>
  <%= t("titles.feeds") %>
<% end %>

<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item">
    <%= link_to t('breadcrumbs.homepage'), root_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to t('breadcrumbs.dashboard'), dashboard_path %>
  </li>
  <li class="breadcrumb-item active">
    <%=link_to t('breadcrumbs.feeds'), feeds_path %>
  </li>
<% end %>

<div class="card">
  <div class="table-responsive">
    <table class="table card-table table-vcenter text-nowrap datatable">

      <thead>
        <tr>
          <th>Feed</th>
          <th>Offers</th>
        </tr>
      </thead>

      <tbody>
        <% @feeds.each do |row| %>
        <tr>
          <td>
            <%= link_to row[:index], feed_offers_path(row[:index]) %>
          </td>
          <td>
            <%= row[:count] %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="card-footer d-sm-flex align-items-center">
    <p class="m-sm-0 text-muted">Showing <span>1</span> to <span><%= @feeds.size %></span> of <span><%= @total_count %></span> entries</p>
    <%= paginate @feeds %>
  </div>

</div>
