<div class="collapse navbar-collapse flex-grow-0" id="navbar-menu">

  <ul class="navbar-nav py-lg-2">

    <%= render Left::Menu::ItemComponent.new(
        title: t('left_menu.dashboard'),
        path: { controller: '/dashboard', action: 'index' },
        current_page: current_page?({controller: '/dashboard'}),
        icon: GlobalHelper.icons['grid'],
        disabled: false
    ) %>

    <%= render Left::Menu::ItemComponent.new(
        title: t('left_menu.feeds'),
        path: { controller: '/feeds', action: 'index' },
        current_page: current_page?({controller: '/feeds'}),
        icon: GlobalHelper.icons['file-invoice'],
        disabled: false
    ) %>

    <%= render Left::Menu::ItemComponent.new(
        title: t('left_menu.offers'),
        path: { controller: '/offers', action: 'index', feed_id: nil },
        current_page: current_page?({controller: '/offers'}),
        icon: GlobalHelper.icons['shopping-cart'],
        disabled: false
    ) %>

    <%= render Left::Menu::ItemComponent.new(
        title: t('left_menu.posts'),
        path: { controller: '/posts', action: 'index' },
        current_page: current_page?({controller: '/posts'}),
        icon: GlobalHelper.icons['pencil'],
        disabled: !user_signed_in?
    ) %>

    <% if policy(:user).index? %>
      <%= render Left::Menu::ItemComponent.new(
          title: t('left_menu.users'),
          path: { controller: '/users', action: 'index' },
          current_page: current_page?({controller: '/users'}),
          icon: GlobalHelper.icons['user'],
          disabled: false
      ) %>
    <% end %>

    <%= render Left::Menu::ItemComponent.new(
        title: t('left_menu.favorites'),
        path: { controller: '/favorites', action: 'index' },
        current_page: current_page?({controller: '/favorites'}),
        icon: GlobalHelper.icons['star'],
        disabled: !user_signed_in?
    ) %>

    <%= render Left::Menu::ItemComponent.new(
        title: t('left_menu.promotions'),
        path: { controller: '/promotions', action: 'index' },
        current_page: current_page?({controller: '/promotions'}),
        icon: GlobalHelper.icons['ad'],
        disabled: false
    ) %>

    <%= render Left::Menu::ItemComponent.new(
        title: t('left_menu.transactions'),
        path: { controller: '/transactions', action: 'index' },
        current_page: current_page?({controller: '/transactions'}),
        icon: GlobalHelper.icons['notes'],
        disabled: false
    ) %>

    <%= render Left::Menu::ItemComponent.new(
        title: t('left_menu.accounts'),
        path: { controller: '/accounts', action: 'index' },
        current_page: current_page?({controller: '/accounts'}),
        icon: GlobalHelper.icons['wallet'],
        disabled: false
    ) %>

    <%= render Left::Menu::DropdownComponent.new(
        title: t('left_menu.settings'),
        current_page:
            params['controller'] == 'settings/passwords' ||
                params['controller'] == 'settings/emails' ||
                params['controller'] == 'settings/profiles',
        icon: GlobalHelper.icons['settings'],
        disabled: !user_signed_in?
    ) do |component| %>

      <% component.with(:items) do %>

        <%= render Left::Menu::Dropdown::ItemComponent.new(
            title: t('left_menu.profile'),
            path: edit_settings_profile_path,
            current_page: params['controller'] == 'settings/profiles',
            disabled: !user_signed_in?
        ) %>

        <%= render Left::Menu::Dropdown::ItemComponent.new(
            title: t('left_menu.password'),
            path: edit_settings_password_path,
            current_page: params['controller'] == 'settings/passwords',
            disabled: !user_signed_in?
        ) %>

        <%= render Left::Menu::Dropdown::ItemComponent.new(
            title: t('left_menu.email'),
            path: edit_settings_email_path,
            current_page: params['controller'] == 'settings/emails',
            disabled: !user_signed_in?
        ) %>

        <%= render Left::Menu::Dropdown::ItemComponent.new(
            title: t('left_menu.cancel'),
            path: '#',
            current_page: params['controller'] == 'settings/cancel',
            disabled: !user_signed_in?
        ) %>
      <% end %>
    <% end %>

    <%= render Left::Menu::ItemComponent.new(
        title: t('left_menu.news'),
        path: { controller: '/articles', action: 'index' },
        current_page: current_page?({controller: '/articles'}),
        icon: GlobalHelper.icons['news'],
        disabled: false
    ) %>

  </ul>
</div>
