<%- if controller_name != 'sessions' %>
  <p class="my-2"><%= link_to t(".sign_in"), new_user_session_path %></p>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <p class="my-2"><%= link_to t(".sign_up"), new_user_registration_path %></p>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <p class="my-2"><%= link_to t(".forgot_your_password"), new_user_password_path %></p>
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <p class="my-2"><%= link_to t('.didn_t_receive_confirmation_instructions'), new_user_confirmation_path %></p>
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <p class="my-2"><%= link_to t('.didn_t_receive_unlock_instructions'), new_user_unlock_path %></p>
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to t('.sign_in_with_provider', provider: OmniAuth::Utils.camelize(provider)), omniauth_authorize_path(resource_name, provider) %><br />
  <% end %>
<% end %>
