<%= tag.div class: 'dropdown', data: {
      controller: 'favorite',
      favorite_ext_id: @ext_id,
      favorite_kind: @kind,
      favorite_is_favorite: @is_favorite,
      favorite_starred_class: @starred_class,
      favorite_unstarred_class: @unstarred_class,
      favorite_starred_icon: GlobalHelper.icon('star', is_filled: true),
      favorite_unstarred_icon: GlobalHelper.icon('star'),
      action: 'favorite-item:updateStarData->favorite#updateStarData favorite-item:updateList->favorite#updateList'
} do %>

  <%= button_tag type: 'button',
                 class: "btn btn-white btn-icon #{@is_favorite ? @starred_class : @unstarred_class}",
                 data: {
                     'bs-toggle': 'dropdown',
                     target: 'favorite.dropdownButton',
                   } do %>
    <%== GlobalHelper.icon('star', is_filled: @is_favorite) %>
  <% end %>

  <%= tag.div class: 'dropdown-menu dropdown-menu-end pb-0',
              data: {
                  target: 'favorite.dropdownMenu'
              } do %>

    <form>
      <%= link_to favorites_path do %>
        <h6 class="dropdown-header py-2">
            <%= t(@kind, scope: ['favorites', 'titles']) %>
        </h6>
      <% end %>
      <%= tag.div data: { target: 'favorite.itemsList' } %>
    </form>

    <%= tag.div class: 'mx-3 text-red small',
                data: {
                    target: 'favorite.errorPlaceholder' } %>

    <div class="input-group mt-2">
      <%= text_field_tag nil, nil, id: nil, type: 'text', class: 'form-control favorite--text-field',
                         placeholder: t('favorites.placeholder'),
                         data: { target: 'favorite.newItemName',
                                 action: 'keydown->favorite#clickCreateFavorite' } %>
      <%= button_tag nil, id: nil, type: 'button', class: 'btn btn-teal btn-icon favorite--button',
                     data: {
                         target: 'favorite.createButton',
                         action: 'favorite#createFavorite'
                     } do %>
        <%== GlobalHelper.icon('corner-down-left') %>
      <% end %>
    </div>

  <% end %>
<% end %>
