<%= tag.div class: 'carousel',
            'data-controller': "offer-carousel",
            'data-offer-carousel-images-count-value': @images.count,
            'data-action': "mousemove->offer-carousel#slideImage" do %>

  <% if @images.size > 1 %>
    <ol class="carousel-indicators">
      <% @images.each_with_index do |picture, idx| %>
        <%= tag.li class: idx == 0 ? 'active' : '',
                   'data-bs-target': "#carousel-controls-#{picture['id']}",
                   'data-bs-slide-to': idx %>
      <% end %>
    </ol>
  <% end %>

  <%= tag.div do %>

      <div class="carousel-inner" data-controller="lightbox">

        <% @images.each_with_index do |picture, idx| %>

          <%= tag.div class: "carousel-item #{'active' if idx == 0}" do %>

            <div class="d-flex align-items-center justify-content-center">

              <%# Spinner %>
              <%= tag.div class: 'spinner-border text-indigo position-absolute',
                          style: 'top: calc(50% - 10px); left: calc(50% - 10px)' %>

              <%= link_to picture['original'],
                      'data-pswp-width': picture.fetch('width'),
                      'data-pswp-height': picture.fetch('height'),
                      'target': '_blank',
                      class: 'photo-swipe' do %>

                <%# Image %>
                <%= image_tag picture.fetch('images').fetch(@size),
                              id: "carousel-controls-#{picture['id']}",
                              class: @class,
                              loading: 'lazy' %>
              <% end %>

            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>