<div class="list-group list-group-transparent mb-3 me-xl-5 me-lg-1 me-md-3">
  <%= render ProfileList::ItemComponent.new(
      title: t('left_menu.profile'),
      path: edit_settings_profile_path,
      current_page: params['controller'] == 'settings/profiles'
  )
  %>

  <%= render ProfileList::ItemComponent.new(
      title: t('left_menu.password'),
      path: edit_settings_password_path,
      current_page: params['controller'] == 'settings/passwords',
      ) %>

  <%= render ProfileList::ItemComponent.new(
      title: t('left_menu.email'),
      path: edit_settings_email_path,
      current_page: params['controller'] == 'settings/emails',
      ) %>

  <%= render ProfileList::ItemComponent.new(
    title: t('left_menu.api_key'),
    path: edit_settings_api_key_path,
    current_page: params['controller'] == 'settings/api_keys',
    ) %>

  <%= render ProfileList::ItemComponent.new(
      title: t('left_menu.danger_zone'),
      path: edit_settings_danger_zone_path,
      current_page: params['controller'] == 'settings/danger_zones',
      ) %>
</div>
