<%= turbo_frame_tag 'columns-form', target: "_top" do %>
  <div class="row row-deck mb-3">
  <div class="col-sm-10 col-md-9 col-lg-8">
    <div class="card">
      <div class="card-status-start bg-green"></div>
      <div class="card-body">
        <%= simple_form_for @columns_form,
                            as: :columns_form,
                            method: :post,
                            url: table_columns_path,
                            local: true do |f| %>

          <%= f.input :displayed_columns,
                      input_html: {
                          multiple: true,
                          class: 'mb-1',
                          "data-controller": 'table-select-columns'
                      },
                      as: :select,
                      collection: collection_for_columns %>

          <%= f.input :model, as: :hidden %>

          <%= f.input :state, as: :hidden %>

          <%= f.button :submit, class: 'btn btn-primary mt-2' %>

      <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
