<% content_for :title do %>
  <%= t("titles.posts") %>
<% end %>

<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item">
    <%= link_to t('breadcrumbs.homepage'), root_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to t('breadcrumbs.dashboard'), dashboard_path %>
  </li>
  <li class="breadcrumb-item">
    <%=link_to t('breadcrumbs.posts'), posts_path %>
  </li>
  <li class="breadcrumb-item active">
    <%=link_to t('breadcrumbs.show_post'), post_path(@post) %>
  </li>
<% end %>

<div class="col">
  <div class="row">
    <div class="col">

      <div class="card mb-3">
        <div class="card-status-left bg-warning"></div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-3"> <%= t('title', scope: ['simple_form', 'labels', 'post']) %> </dt>
            <dd class="col-sm-9"> <%= @post.title %> </dd>

            <dt class="col-sm-3"> <%= t('realm', scope: ['simple_form', 'labels', 'post']) %> </dt>
            <dd class="col-sm-9"> <%= @post.realm.title %> </dd>

            <dt class="col-sm-3"> <%= t('post_category', scope: ['simple_form', 'labels', 'post']) %> </dt>
            <dd class="col-sm-9">
              <ol class="breadcrumb breadcrumb-arrows d-block d-lg-flex" aria-label="breadcrumbs">
                <% @post.post_category.path.each do |slice| %>
                  <li class="breadcrumb-item">
                    <%= slice.title %>
                  </li>
                <% end %>
              </ol>
            </dd>

            <dt class="col-sm-3"> <%= t('tags', scope: ['simple_form', 'labels', 'post']) %> </dt>
            <dd class="col-sm-9">
              <% @post.tags.each do |item| %>
                <% next if item.blank? %>

                <%= tag.span item %>
              <% end %>
            </dd>

            <dt class="col-sm-3"> <%= t('published_at', scope: ['simple_form', 'labels', 'post']) %> </dt>
            <dd class="col-sm-9"> <%= GlobalHelper.decorate_datetime(@post.published_at, self) %> </dd>

            <dt class="col-sm-3"> <%= t('created_at') %> </dt>
            <dd class="col-sm-9"> <%= GlobalHelper.decorate_datetime(@post.published_at, self) %> </dd>

            <dt class="col-sm-3"> <%= t('updated_at') %> </dt>
            <dd class="col-sm-9"> <%= GlobalHelper.decorate_datetime(@post.published_at, self) %> </dd>

            <dt class="col-sm-3"> <%= t('status', scope: ['simple_form', 'labels', 'post']) %> </dt>
            <dd class="col-sm-9"> <%= render Decorators::Post::StatusComponent.new(status: @post.status) %> </dd>

            <dt class="col-sm-3"> <%= t('comment', scope: ['simple_form', 'labels', 'post']) %> </dt>
            <dd class="col-sm-9"> </dd>
          </dl>
        </div>
      </div>

      <div class="card card-lg mb-3">
        <div class="card-header">
          <h3 class="card-title">Intro</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12 offset-xl-2 col-xl-8">
              <%= @post.intro %>
            </div>
          </div>
        </div>
      </div>

      <div class="card card-lg mb-3">
        <div class="card-header">
          <h3 class="card-title">Body</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12 offset-xl-2 col-xl-8">
              <%= @post.body %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="col">
    <%= link_to 'Back', posts_path, class: "btn btn-white" %>
    <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-primary" %>
  </div>
</div>
