<div class="dropdown">

  <button type="button" class="btn btn-white dropdown-toggle" data-bs-toggle="dropdown">
    № <%= row.id %>
  </button>

  <div class="dropdown-menu">
    <% mention = Mention.find(row.id) %>

    <%= link_to t('buttons.show'), mention_path(mention), class: 'dropdown-item' %>

    <%= link_to t('.follow'), mention.url, class: 'dropdown-item', rel: 'noreferrer' %>

    <% if policy(mention).edit? %>
      <%= link_to t('buttons.edit'), edit_mention_path(mention), class: 'dropdown-item' %>
    <% end %>
    <% if policy(mention).destroy? %>
      <%= link_to t('buttons.delete'), mention_path(mention), method: :delete, data: { confirm: t('are_you_sure') }, class: 'dropdown-item' %>
    <% end %>

  </div>
</div>
