<% seo.title! @article.title %>
<% seo.description! @article.description %>

<% content_for :breadcrumbs do %>
  <%= render BreadcrumbComponent.new do |b| %>
    <%= b.root_item title: t('breadcrumbs.homepage'), url: root_path %>
    <% @article_category.path.each do |post_category| %>
      <%= b.item title: post_category.to_label, url: articles_by_category_link(post_category.id)  %>
    <% end %>
  <% end %>
<% end %>

<%= render 'card' %>

<% content_for :left_bar do %>
  <%= turbo_frame_tag 'articles-by-category', src: frames_articles_category_path(category_id: params[:category_id],
                                                                                 per: params[:per],
                                                                                 sort: params[:sort],
                                                                                 order: params[:order]) %>
<% end %>

<% content_for :right_bar do %>
  <%= turbo_frame_tag 'articles-by-month', src: frames_articles_month_path(month: params[:month],
                                                                           per: params[:per],
                                                                           sort: params[:sort],
                                                                           order: params[:order]) %>

  <div class="my-3"></div>

  <%= turbo_frame_tag 'articles-by-tag', src: frames_articles_tag_path(tag: params[:tag],
                                                                       per: params[:per],
                                                                       sort: params[:sort],
                                                                       order: params[:order]) %>
<% end %>
