<table class="table card-table table-vcenter">
  <thead>
  <tr>
    <th class="text-nowrap">Сумма</th>
    <th class="text-nowrap">Дата вывода</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="td-truncate">
      <div class="text-truncate">
        <%= GlobalHelper.decorate_money(rand(500), 'usd', self) %>
      </div>
    </td>
    <td class="text-nowrap text-muted"><%= Faker::Date.between(from: '2014-09-23', to: '2014-09-25') %></td>  </tr>
  </tr>
  <tr>
    <td class="td-truncate">
      <div class="text-truncate">
        <%= GlobalHelper.decorate_money(rand(500), 'usd', self) %>
      </div>
    </td>
    <td class="text-nowrap text-muted"><%= Faker::Date.between(from: '2014-09-23', to: '2014-09-25') %></td>  </tr>
  </tr>
  <tr>
    <td class="td-truncate">
      <div class="text-truncate">
        <%= GlobalHelper.decorate_money(rand(500), 'usd', self) %>
      </div>
    </td>
    <td class="text-nowrap text-muted"><%= Faker::Date.between(from: '2014-09-23', to: '2014-09-25') %></td>  </tr>
  <tr>
    <td class="td-truncate">
      <div class="text-truncate">
        <%= GlobalHelper.decorate_money(rand(500), 'usd', self) %>
      </div>
    </td>
    <td class="text-nowrap text-muted"><%= Faker::Date.between(from: '2014-09-23', to: '2014-09-25') %></td>
  </tr>
  <tr>
    <td class="td-truncate">
      <div class="text-truncate">
        <%= GlobalHelper.decorate_money(rand(500), 'usd', self) %>
      </div>
    </td>
    <td class="text-nowrap text-muted"><%= Faker::Date.between(from: '2014-09-23', to: '2014-09-25') %></td>
  </tr>
  </tbody>
</table>
