<%= simple_form_for(entity, url: @url) do |f| %>

  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= tag.div class: 'row',
              'data-controller': "entities-title" do %>
    <div class="mb-3 col-sm-9 col-md-8 col-lg-8 col-xl-7 col-xxl-6">
      <div class="card mb-3">
        <div class="card-body">
          <div class="form-inputs">
            <%= f.input :title,
                        input_html: {
                          'data-action': 'input->entities-title#input',
                          'data-entities-title-target': 'inputTitle'
                        } %>

            <%= render 'entities/lookups', f: f %>

            <%= tag.div class: 'mb-3',
                        'data-controller': 'shrine-upload',
                        'data-action': 'pushEventStack@window->shrine-upload#pushEventStack
                                        popEventStack@window->shrine-upload#popEventStack' do %>

              <%= f.input :image,
                          as: :hidden,
                          wrapper: false,
                          error: false,
                          input_html: {
                            id: nil,
                            value: f.object.cached_image_data
                          } %>

              <%= f.label :image,
                          class: 'width-100 min-height-100 img-thumbnail d-flex align-items-center',
                          role: 'button' do %>

                <%= image_tag f.object.image_url || asset_pack_path('media/images/icon-upload.png'),
                              class: 'mx-auto d-block',
                              'data-shrine-upload-target': 'imagePreview' %>
              <% end %>

              <%= f.input :image,
                          wrapper: false,
                          label: false,
                          input_html: {
                            'data-shrine-upload-target': 'inputFile',
                            class: "d-none"
                          } %>
            <% end %>

          </div>
        </div>
      </div>

      <%= render 'entities/editorial', f: f %>

      <div class="form-actions">
        <% if @is_modal %>
          <%= f.button :submit, t(".submit_and_bind"), class: 'btn btn-light' %>
        <% else %>
          <%= f.button :submit, t('.submit_and_new'), class: 'btn btn-primary' %>
          <%= f.button :submit, class: 'btn btn-primary' %>
          <%= link_to t('back'), entities_path, class: "btn btn-white" %>
        <% end %>
      </div>
    </div>

    <div class="col">
      <div data-entities-title-target="similarPlaceholder"></div>
    </div>

  <% end %>
<% end %>
