<%= simple_form_for(entity,
                    url: @url,
                    html: {
                      'data-controller': 'scrapper',
                      'data-mention-edit-entity-target': 'form',
                      'data-mention-new-entity-target': 'form',
                      'data-action': 'submit->mention-edit-entity#submitForm submit->mention-new-entity#submitForm'
                    }) do |f| %>

  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="card mb-3">
    <div class="card-body">
      <div class="form-inputs">

        <div class="row row-deck">
          <div class="col-lg-6 mb-3">
            <div class="card">
              <div class="card-body bg-yellow-lt">
                <%= f.input :title,
                            input_html: {
                              'data-scrapper-target': 'url',
                              'data-controller': "similar-entities-emitter",
                              'data-action': 'input->similar-entities-emitter#inputChanged input->scrapper#input' } %>
                <%= render 'entities/lookups', f: f %>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mb-3">
            <div class="card">
              <div class="card-body bg-azure-lt">
                <%= render 'entities/image', f: f %>
              </div>
            </div>
          </div>
        </div>

        <%= tag.div 'data-controller': "similar-entities-receiver",
                    'data-action': 'similar-entities-emitter:invokeReceiver@window->similar-entities-receiver#sendRequest' %>

        <%= render AccordionComponent.new(accordion_id: 'entity-extra-accordion', css_class: 'mb-3 bg-white') do |accordion_component| %>

          <%= render 'entities/topics_field', f: f, accordion_component: accordion_component %>

          <%= render 'entities/parents_field', f: f, accordion_component: accordion_component %>

          <%= render 'entities/children_field', f: f, accordion_component: accordion_component %>

          <%= render 'entities/intro_field', f: f, accordion_component: accordion_component %>

          <%= render 'entities/body_field', f: f, accordion_component: accordion_component %>

        <% end %>

      </div>
    </div>
  </div>

  <%= render 'entities/editorial', f: f %>

  <div class="d-flex flex-column flex-sm-row gap-2">
    <% if @is_modal %>
      <%= f.button :submit, t("save"),
                   'data-turbo': false,
                   class: 'btn btn-purple' %>
    <% else %>
      <%= f.button :submit, t('.submit_and_new'), class: 'btn btn-purple' %>
      <%= f.button :submit, class: 'btn btn-purple' %>
      <%= link_to t('back'), entities_path, class: "btn btn-white" %>
    <% end %>

    <% if @entity.persisted? && !@is_modal %>
      <%= link_to t('delete'), entity_path(@entity.id),
                  class: "ms-auto btn btn-danger #{'disabled' unless policy(@entity).destroy?}",
                  method: :delete,
                  data: { confirm: t('are_you_sure') },
                  rel: Seo::NoFollow %>
    <% end %>
  </div>
<% end %>
