<%= accordion_component.item(item_id: 'entity-intro-item') do |item_component| %>
  <%= item_component.header do %>
    <%= t('.intro') %>
  <% end %>

  <%= item_component.body(css_class: 'pt-0') do %>
    <%= tag.div 'data-controller': "character-counter", class: 'mb-3' do %>
      <%= f.input :intro,
                  label: false,
                  wrapper_html: {
                    style: "margin-bottom: 0 !important;"
                  },
                  input_html: {
                    rows: 3,
                    'data-character-counter-target': "input"
                  } %>
      <div class="text-secondary mt-1">
        <small>
          <span  data-character-counter-target="counter"></span> / 250
        </small>
      </div>
    <% end %>
  <% end %>
<% end %>