<% seo.title! @entity.title %>
<% seo.description! @entity.intro %>

<% content_for :breadcrumbs do %>
  <%= render BreadcrumbComponent.new do |b| %>
    <%= b.root_item title: t('breadcrumbs.homepage'), url: root_path %>
    <%= b.item title: t('breadcrumbs.dashboard'), url: dashboard_path %>
    <%= b.item title: t('breadcrumbs.entities'), url: entities_path %>
    <%= b.item title: t('breadcrumbs.show_entity'), url: entity_path(@entity) %>
  <% end %>
<% end %>

<div class="tw-flex tw-gap-6">
  <div class="tw-flex-auto">
    <%= render 'entities/card' %>
  </div>
  <div class="tw-hidden lg:tw-block tw-flex-none">
    <%= render PromoWidgetComponent.new %>
  </div>
</div>

<%= render(
      ReactComponent.new(name: 'MentionsFilter',
                         class: '',
                         props: {
                         }))
%>

<div class="tw-mt-4 lg:tw-mt-8">
  <!-- Left column -->
  <div class="tw-grid tw-grid-cols-1 tw-gap-4 lg:tw-col-span-3">
    <section aria-labelledby="section-1-title" class="">
      <h2 class="tw-sr-only" id="section-1-title">Section title</h2>
      <div class="tw-rounded-lg tw-bg-white tw-shadow">
        <div class="tw-p-6">
          <%= @entity.body %>
          <div class="">
            <% @mentions.each do |mention| %>
              <%= render mention %>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="tw-space-y-5">
  <% @entity.images.each do |image| %>
    <div>
      <% case image.image.mime_type %>
      <% when *ImageUploader::IMAGE_TYPES %>
        <%= image_tag image.image.derivation(:image, 500, 500).url %>
      <% when *ImageUploader::VIDEO_TYPES %>
        <%= video_tag image.image.derivation(:video, 500, 500).url,
                      loop: 'true',
                      # width: "300",
                      # height: "300",
                      autoplay: 'true',
                      # poster_skip_pipeline: true,
                      controls: false,
                      muted: 'true'
            # autobuffer: true
            # poster: image.image.derivation(:thumbnail, 100, 100).url
        %>
      <% end %>
    </div>
  <% end %>
</div>