<% scope = ['devise', 'registrations', 'edit'] %>

<% content_for :title do %>
  <%= t("titles.settings") %>
<% end %>

<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item">
    <%= link_to t('breadcrumbs.homepage'), root_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to t('breadcrumbs.dashboard'), dashboard_path %>
  </li>
  <li class="breadcrumb-item active">
    <%=link_to t('breadcrumbs.danger_zone'), edit_settings_danger_zone_path %>
  </li>
<% end %>

<div class="col">
<div class="card card-md">

  <div class="card-body">

    <div class="row">

      <div class="col-md-3 me-3">
        <%= render ProfileListComponent.new %>
      </div>

      <div class="col-md-5">

        <%= render InpageTitleComponent.new(
            title: t("title", resource: 'danger_zone', scope: scope)
        ) %>

        <h3><%= t("cancel_my_account", scope: scope) %></h3>

        <p><%= t(".unhappy", scope: scope) %>
          <%= link_to t(".cancel_my_account"), registration_path(:user), data: { confirm: t(".are_you_sure") }, method: :delete %>
        </p>

      </div>
    </div>
  </div>
</div>
</div>
