<% content_for :breadcrumbs do %>

  <li class="breadcrumb-item">
    <%= link_to t('breadcrumbs.homepage'), root_path %>
  </li>

  <li class="breadcrumb-item">
    <%= link_to t('breadcrumbs.dashboard'), dashboard_path %>
  </li>

  <% css_class = 'active' unless @current_advertiser %>
  <li class="breadcrumb-item <%= css_class %>">
    <%=link_to t('breadcrumbs.offers'), offers_path %>
  </li>

  <% if @current_advertiser %>
    <% css_class = 'active' unless @current_feed %>
    <li class="breadcrumb-item <%= css_class %>">
      <%=link_to @current_advertiser.to_label, advertiser_offers_path(advertiser_id: @current_advertiser) %>
    </li>

    <% if @current_feed %>
      <% css_class = 'active' unless @current_category %>
      <li class="breadcrumb-item <%= css_class %>">
        <%=link_to @current_feed.to_label, feed_offers_path(feed_id: @current_feed) %>
      </li>

      <% if @current_category %>
        <% @current_category.path.each do |el| %>
          <% css_class = 'active' if el.id == @current_category.id %>
          <%= tag.li class: "breadcrumb-item #{css_class}" do  %>
            <%= link_to el.name, feed_category_offers_path(q: params[:q], feed_category_id: el.id), class: css_class %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
