<%= render 'tables/offers/card_wrapper' do %>

  <% kind = '_id' %>
  <%= render BookmarkComponent.new(
    favorites_store: @favorites_store,
    ext_id: row._id,
    favorites_items_kind: '_id')
  %>

  <%= render 'carousel', row: row, offer_idx: row_counter %>

  <div class="card-header position-relative mt-auto">

    <h4 class="text-break m-0" style="word-break: break-word">

      <% if false %>
        <p>score: <%= row.object['_score'] %></p>
      <% end %>

      <span class="user-select-none">
        <%= row.name %>
      </span>
    </h4>
  </div>
<% end %>
