<div id="carousel-controls-<%= offer_idx %>" class="carousel slide" data-interval="false" data-ride="carousel">
  <ol class="carousel-indicators" style="z-index: 30">
    <% if row.pictures && row.pictures.size > 1 %>
      <% row.pictures.each_with_index do |picture, idx| %>
        <li href="#carousel-controls-<%= offer_idx %>" data-slide-to="<%= idx %>" class="<%= 'active' if idx == 0 %>"></li>
      <% end %>
    <% end %>
  </ol>

  <div class="carousel-inner d-flex">
    <% if row.pictures && row.pictures.size > 0 %>
      <% row.pictures.each_with_index do |picture, idx| %>
        <div class="carousel-item <%= 'active' if idx == 0 %>">
          <div style="min-height: 200px" class="d-flex align-items-center justify-content-center">
            <div data-controller="carousel-hover" data-action="mousemove->carousel-hover#slideImage" class="d-flex">
              <div class="spinner-border text-indigo position-absolute" style="z-index: 10" role="status"></div>
              <%= image_tag GlobalHelper.picture_address(picture),
                            onerror: "this.src='#{asset_pack_path('media/images/static/image-not-found.png')}'",
                            style: 'z-index: 20; max-height: 380px',
                            alt: 'TODO', data: { 'holder-rendered' => 'true'} %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="carousel-item active">
        <div style="min-height: 200px" class="d-flex align-items-center justify-content-center">
          <%= image_tag asset_pack_path('media/images/static/image-not-found.png'),
                        style: 'z-index: 20; max-height: 380px'
          %>
        </div>
      </div>
    <% end %>
  </div>

  <% if row.pictures && row.pictures.size > 1 %>
    <a class="carousel-control-prev" style="z-index: 30;" href="#carousel-controls-<%= offer_idx %>" role="button" data-slide="prev">
      <span class="carousel-control-outline carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" style="z-index: 30;" href="#carousel-controls-<%= offer_idx %>" role="button" data-slide="next">
      <span class="carousel-control-outline carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  <% end %>

</div>
