<%= render 'title' %>
<%= render 'breadcrumbs' %>

<div class="col-12">
  <%= render 'collection_controls' %>

  <%= render 'remove_search_query' %>

  <div class="mb-3">
    <%= render 'items_summary', rows: @results %>
  </div>

  <% @results.each do |group| %>

    <% if group[:favorite_item_kind] && group[:ext_id] %>

      <%= tag.div id: "offers-group-title-#{group[:favorite_item_kind]}-#{group[:ext_id]}",
                  class: "row mt-4 mb-3" do %>
          <div class="col-12">
            <h2 class="d-flex align-items-center">
              <% entity = @groups_store.find(group[:ext_id], group[:favorite_item_kind]) %>

              <%= link_to "#{t(entity.model_name.to_s.underscore)}: #{entity.to_label }",
                          polymorphic_path([entity, :offers],
                                           q: params[:q],
                                           locale: params[:locale],
                                           per: params[:per]), 'data-turbo': 'false' %>

              <%= render StarFavoriteComponent.new(
                is_favorite: @favorites_store.find(group[:ext_id], group[:favorite_item_kind]),
                ext_id: group[:ext_id],
                favorites_items_kind: group[:favorite_item_kind],
                bobber: { class: 'z-index-decreased' }) %>
            </h2>
          </div>
      <% end %>
    <% end %>

    <%= tag.div id: "offers-group-row-#{group[:favorite_item_kind]}-#{group[:ext_id]}",
                class: "row g-1 mb-1 row-deck" do %>
      <%= render partial: 'card', collection: OfferDecorator.decorate_collection(group[:products]), as: :row %>

      <% if group[:count] %>
        <%= render 'group_more', group: group %>
      <% end %>

    <% end %>
  <% end %>

  <%= tag.div 'data-turbo': 'false' do %>
    <%= paginate @results %>
  <% end %>

  <%= render 'empty_page' if @results.empty?  %>
</div>

<% content_for :left_menu do %>
  <%#= render 'brands' %>
<% end %>
