<% scope = ['devise', 'registrations', 'edit'] %>

<% seo.title! t("titles.settings") %>

<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item">
    <%= link_to t('breadcrumbs.homepage'), root_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to t('breadcrumbs.dashboard'), dashboard_path %>
  </li>
  <li class="breadcrumb-item active">
    <%=link_to t('breadcrumbs.password'), edit_settings_password_path %>
  </li>
<% end %>

<div class="col">
<div class="card card-md">

  <div class="card-body">

    <div class="row">

      <div class="col-md-3 me-3">
        <%= render ProfileListComponent.new %>
      </div>

      <div class="col-md-5">

        <h2 class="mb-4"><%= t('.password') %></h2>

        <%= simple_form_for(resource, as: resource_name, url: settings_password_path, html: { method: :put, 'data-turbo': false }) do |f| %>

          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :password,
                        required: true,
                        input_html: { autocomplete: "new-password" },
                        wrapper_html: { class: 'mb-3' } %>

            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" },
                        wrapper_html: { class: 'mb-3' } %>
          </div>

          <div class="form-footer">
            <%= f.button :submit, t("update", scope: scope), class: 'btn btn-primary' %>
          </div>

        <% end %>

      </div>
    </div>
  </div>
</div>
</div>
