<div class="card">
  <div class="d-flex card-header justify-content-between">
    <h3 class="card-title"><%= t('.latest_news') %></h3>
    <%= l Time.zone.parse(@news['published_at']), format: :short %>
  </div>

  <div class="card-body">
    <%== @news['intro'] %>
  </div>


  <div class="d-flex card-header justify-content-between">

    <a class="p-1" href="#">
      <%== GlobalHelper.icon('chevron-left') %>
    </a>

    <a class="float-end" href="#">
      <%= t('.details') %>
    </a>

    <a class="link-dark p-1" href="#">
      <%== GlobalHelper.icon('chevron-right') %>
    </a>

  </div>
</div>
