<%= turbo_frame_tag 'latest-news' do %>
  <div class="card">
    <div class="d-flex card-header justify-content-between">
      <h3 class="card-title"><%= t('.latest_news') %></h3>
      <%= l Time.zone.parse(@news['published_at']), format: :short if @news %>
    </div>

    <div class="card-body">
      <% if @news %>
        <%== @news['intro'] %>
      <% else %>
        <div class="empty p-2">
          <p class="empty-title"><%= t('.no_news_yet') %></p>
          <p class="empty-subtitle text-muted">
            <%= t('.no_news_yet_in_your_language') %>
          </p>
        </div>
      <% end %>
    </div>

    <% if @news %>
      <div class="d-flex card-header justify-content-between">
        <%= render 'frames/news/latest/older' %>
        <%= link_to t('.details'), news_path(@news['id']), target: "_top" %>
        <%= render 'frames/news/latest/newer' %>
      </div>
    <% end %>
  </div>
<% end %>
