<div class="nav-item dropdown">
  <%= link_to '#', class: "#{@capybara_browser} capybara-authenticated nav-link d-flex lh-1 text-reset p-0",
                   'data-bs-toggle': 'dropdown' do %>
    <%= render AvatarComponent.new(avatar: helpers.current_user.avatar) %>

    <div class="d-none d-xl-block ps-2">
      <div>
        #<%= helpers.current_user.id %>
        <%= helpers.current_user.profile&.name %>
      </div>
      <div class="mt-1 small text-muted"><%= helpers.current_user.email %></div>
    </div>
  <% end %>

  <div class="dropdown-menu dropdown-menu-end">
    <%= render Header::Profile::Authenticated::SettingsComponent.new %>
    <%= render Header::Profile::Authenticated::LogoutComponent.new %>
    <% if @current_user != @true_user %>
      <%= link_to(stop_impersonating_users_path, method: :post, class: 'dropdown-item', id: 'logout') do %>
        <%== GlobalHelper.icon('logout', svg_class: 'dropdown-item-icon') %>
        <%= t('header.menu.restore_permissions') %>
      <% end %>
    <% end %>
  </div>
</div>
