<%= tag.div test_id => "news-card-#{@news.id}", test_class => 'news-card', class: 'card card-md mb-3' do %>
  <div class="card-body">

    <div class="d-flex align-items-center mb-4">
      <h2>
        <%== @news.title %>
      </h2>

      <span class="ms-auto text-muted news-date">
        <%== l @news.published_at.utc.to_date %>
      </span>
    </div>

    <div class="fs-6 lh-lg news-content">
      <%==  @news.body %>
    </div>

    <div class="d-flex mt-5 align-items-start flex-column flex-sm-row">

      <div class="order-2 d-flex me-sm-4">
        <% if policy(:news).edit? %>
          <%= link_to edit_post_path(id: @news.id), class: 'btn btn-icon btn-pink me-1' do %>
            <i class="fas fa-pen icon"></i>
          <% end %>
        <% end %>

        <%= link_to t('back_to_news'),
                    news_index_path(request.params.slice('per', 'page', 'sort', 'order', 'tag', 'month', 'q')),
                    class: 'btn btn-white' %>
      </div>

      <div class="order-1 order-sm-2 d-flex flex-wrap justify-content-sm-end ms-sm-auto mb-3 mb-sm-0">

        <% @news.tags.each do |item| %>
          <% next if item.blank? %>

          <%= link_to item, by_tag_news_index_path(tag: item, **request.params.slice('per', 'sort', 'order')),
                                                   class: 'badge badge-primary me-1 mb-1' %>
        <% end %>

      </div>

    </div>

  </div>
<% end %>
