<%= tag.div test_id => "news-card-#{@news.id}", test_class => 'news-card', class: 'card card-md mb-3' do %>
  <div class="card-body">

    <div class="d-flex align-items-center mb-4">
      <h2>
        <%== @news.title %>
      </h2>

      <span class="ms-auto text-muted news-date">
        <%== l @news.published_at.utc.to_date %>
      </span>
    </div>

    <div class="fs-6 lh-lg news-content">
      <%==  @news.body %>
    </div>

    <div class="mt-3">
      <%= link_to t('back_to_news'),
                  news_index_path(**request.params.slice('per', 'page', 'sort', 'order', 'tag', 'month', 'q')),
                  class: 'btn btn-light' %>
    </div>

    <div class="mt-3">
      <% @news.tags.each do |item| %>
        <% next if item.blank? %>

        <%= link_to item, by_tag_news_index_path(tag: item, **request.params.slice('per', 'sort', 'order')),
                    class: 'badge bg-cyan-lt me-1 mb-1' %>
      <% end %>
    </div>

  </div>
<% end %>
