<% content_for :title do %>
  <%= @news.title %>
<% end %>

<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item">
    <%= link_to t('breadcrumbs.homepage'), root_path %>
  </li>

  <% @post_category.path.each do |post_category| %>
    <%= tag.li class: "breadcrumb-item" do %>
      <%= link_to post_category.to_label, by_category_news_index_path({category_id: post_category.id}.merge(request.params.slice('per', 'sort', 'order'))) %>
    <% end %>
  <% end %>

  <li class="breadcrumb-item active">
    <%= link_to @news.title, news_path(id: @news.id) %>
  </li>
<% end %>

<%= render 'card' %>

<% content_for :left_bar do %>
  <%= turbo_frame_tag 'news-by-category', src: frames_news_category_path(request.params.slice('per', 'sort', 'order', 'category_id')) %>
<% end %>

<% content_for :right_bar do %>
  <%= turbo_frame_tag 'news-by-month', src: frames_news_month_path(request.params.slice('per', 'sort', 'order')) %>
  <div class="my-3"></div>
  <%= turbo_frame_tag 'news-by-tag', src: frames_news_tag_path(request.params.slice('per', 'sort', 'order')) %>
<% end %>
