<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item">
    <%= link_to t('breadcrumbs.homepage'), root_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to t('breadcrumbs.dashboard'), dashboard_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to t('breadcrumbs.news'), news_index_path %>
  </li>
  <li class="breadcrumb-item active">
    <%= link_to @news.title, news_path(id: @news.id) %>
  </li>
<% end %>

<div class="col">
  <div class="row">

    <div class="col-md-8 col-lg-9">
      <div class="card card-md">
        <div class="card-body">

          <div class="d-flex align-items-center mb-4">
            <h2>
              <%== @news.title %>
              <% if policy(:news).edit? %>
                <%= link_to edit_post_path(id: @news.id), class: 'btn btn-icon btn-sm btn-pink ms-2 me-5' do %>
                  <%== GlobalHelper.icon('pencil') %>
                <% end %>
              <% end %>
            </h2>

            <span class="ms-auto text-muted news-date"><%== l @news.created_at.to_date %></span>
          </div>

          <div class="news-content">
            <%==  @news.body %>
          </div>

          <div class="d-flex justify-content-between mt-5">
            <%= link_to t('back_to_news'), news_index_path, class: 'btn bg-azure-lt' %>

            <div>
              <% @news.tags.each do |item| %>
                <% next if item.blank? %>

                <%= link_to item, '#', class: 'badge badge-primary' %>
              <% end %>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3">

      <%= render 'by_months_menu' %>

      <div class="my-5"></div>

      <%= render 'by_tags_menu' %>

    </div>
  </div>
</div>
