<%= content_for(:after_body_open) do %>
  <%= render 'trackers_tawk' %>
<% end %>

<% content_for(:before_head_close) do %>
  <%= render 'trackers_google' %>
  <%= render 'trackers_yandex' %>
<% end %>

<% content_for :after_body_open do %>
  <style>
      html {
          height: 100%;
      }

      body {
          background: url(<%= asset_pack_path 'media/images/world_map.png' %>) no-repeat left !important;;
      }

      .nav-link {
          color: white;
      }

      .nav-link:hover {
          color: rgba(255, 255, 255, 0.7);
      }
  </style>
<% end %>

<% content_for :body do %>

  <%= tag.body class: "tw-flex tw-h-full tw-text-white !tw-bg-gray-900
                       [text-shadow:0_.05rem_.1rem_rgba(0,0,0,.5)]
                       [box-shadow:inset_0_0_5rem_rgba(0,0,0,.5)]",
               **data_attributes_for_body do %>

    <%= content_for(:after_body_open) %>

    <div class="tw-container tw-flex tw-w-full !tw-max-w-[80em] tw-h-full tw-p-4 tw-mx-auto tw-flex-col">

      <div class="[text-shadow:none] tw-mb-8">
        <%= render TopPageNotifyComponent.new(message: alert, alert_type: 'warning') %>
        <%= render TopPageNotifyComponent.new(message: notice, alert_type: 'primary') %>
      </div>

      <header class="tw-grid tw-grid-cols-12 tw-mb-auto">
        <div class="tw-col-span-6 lg:tw-col-span-5">
          <%#= image_tag(asset_pack_path('media/images/logo-white.svg'), width: "110", height: "32") %>
          <%= image_tag(asset_pack_path('media/images/roast-me-white.svg'), class: "tw-h-5 !tw-text-black navbar-brand-image") %>
        </div>
        <div class="tw-col-span-6 lg:tw-col-span-7 tw-flex">
          <div class="tw-ml-auto [text-shadow:none]">
            <%= render Header::LanguageComponent.new %>
          </div>
        </div>
      </header>

      <main class="tw-items-center tw-grid tw-grid-cols-12">

        <div class="tw-col-span-12 lg:tw-col-span-5 tw-mb-8">
          <h1 class="tw-text-xl md:tw-text-4xl tw-font-bold tw-my-3"><%= t('.title') %></h1>
          <p class="tw-mb-8"><%= t('.tagline') %></p>
          <p>
            <% if current_user %>
              <%= link_to t('.dashboard'), dashboard_path, class: '[text-shadow:none] !tw-no-underline tw-font-semibold tw-inline-flex tw-items-center tw-px-7 tw-py-2 tw-border tw-border-gray-300 tw-shadow-sm tw-text-lg tw-font-medium tw-rounded-md hover:tw-text-gray-700 tw-text-gray-700 tw-bg-white hover:tw-bg-gray-50 focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-offset-2 focus:tw-ring-slate-500' %>
            <% else %>
              <%= link_to t('.link'), offers_path, class: '[text-shadow:none]  !tw-no-underline tw-font-semibold tw-inline-flex tw-items-center tw-px-7 tw-py-2 tw-border tw-border-gray-300 tw-shadow-sm tw-text-lg tw-font-medium tw-rounded-md hover:tw-text-gray-700 tw-text-gray-700 tw-bg-white hover:tw-bg-gray-50 focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-offset-2 focus:tw-ring-slate-500' %>
            <% end %>
          </p>
        </div>

        <div class="lg:tw-pl-8 xxl:tw-ps-4 tw-col-span-12 lg:tw-col-span-7 tw-flex tw-justify-center">
          <%= render(
                ReactComponent.new(name: 'Tinder',
                                   class: '',
                                   props: {
                                   }))
          %>

          <!--          <iframe class="tw-aspect-video tw-w-full tw-relative tw-border-white tw-border-solid tw-border-4 tw-max-w-[40em]" src="https://www.youtube.com/embed/yrwe6NaRgGA" title="Explainer" allowfullscreen></iframe>-->
        </div>

      </main>

      <footer class="tw-mt-auto tw-text-sm tw-leading-6 tw-text-white/50">
        <div class="tw-flex-row-reverse md:tw-flex tw-justify-between">
          <div class="tw-place-self-end">
            <a href="https://rubyonrails.org" class="!tw-text-zinc-500 tw-whitespace-nowrap">Made with ❤ Ruby on Rails</a>
          </div>
          <div class="tw-mt-4 lg:tw-mt-0">
            Copyright © 2020
            <a href="/" class="!tw-text-zinc-500 tw-whitespace-nowrap">Good Reviews</a>.
            All rights reserved.
            <br>
            г. Москва, ул. 8 Марта, д. 8, корп. 2, оф. 83,
            <a class="!tw-text-zinc-500 tw-whitespace-nowrap" href="https://t.me/woto7">+7 (916) 907-27-88</a>
          </div>
        </div>
      </footer>
    </div>

    <%= content_for :before_body_close %>

  <% end %>

<% end %>

<%= render template: 'layouts/blank' %>