<%= simple_form_for(post_categories_import,
                    as: :post_categories_import,
                    url: post_categories_import_path,
                    html: {
                      'data-turbo': false
                    }) do |f| %>

  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="mb-3 col-sm-9 col-md-8 col-lg-8 col-xl-7 col-xxl-6">
      <div class="card">
        <div class="card-body">
          <div class="form-inputs">

            <%= f.input :realm_id, as: :select,
                              wrapper_html: {
                                test_id => 'realm',
                                class: 'mb-3',
                              },
                              label_html: { :class => "mb-2" },
                              input_html: {
                                "data-controller": 'post-categories-import-form-realm',
                              },
                              include_blank: true,
                              placeholder: true,
                              collection: Realm.all

            %>

            <%= f.input :url,
                        wrapper_html: {class: 'mb-3'},
                        required: true,
                        label_html: { :class => "mb-2" } %>

          </div>

          <strong class="mb-1">
            <%= t('.available_urls') %>
          </strong>


          <div class="text-nowrap overflow-scroll font-monospace text-muted">
            <small>
              <% PostCategories::CreatePostCategoryImport::AVAILABLE_URLS.values.flatten.each do |url| %>
                <%= url %><br/>
              <% end %>
            </small>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
    <%= link_to t('back'), post_categories_path, class: "btn btn-white" %>
  </div>
<% end %>
