<% seo.title! t("titles.settings") %>

<% content_for :breadcrumbs do %>
  <%= render BreadcrumbComponent.new do |b| %>
    <%= b.root_item(title: t('breadcrumbs.homepage'), url: root_path) %>
    <%= b.item(title: t('breadcrumbs.dashboard'), url: dashboard_path) %>
    <%= b.item(title: t('breadcrumbs.api_key'), url: edit_settings_api_key_path) %>
  <% end %>
<% end %>

<div class="col">
  <div class="card card-md">

    <div class="card-body">

      <div class="row">

        <div class="col-md-3 me-3">
          <%= render ProfileListComponent.new %>
        </div>

        <div class="col-md-5">

          <h2 class="mb-4"><%= t('.api_key') %></h2>

          <%= render 'form' %>

        </div>
      </div>
    </div>
  </div>
</div>
