<h1 class="mt-5"><%= Current.realm.title %></h1>

<%= render 'websites/breadcumb', category: @post_category if @post_category %>

<% content_for :categories do %>
  <div class="text-center mb-3">
    <% if @post_category&.parent %>
      <%= link_to category_path(@post_category.parent) do %>
        <i class="fas fa-chevron-left me-2"></i>
        <%= t('back') %>
      <% end %>
    <% else %>
      <%= link_to root_path do %>
        <i class="fas fa-chevron-left me-2"></i>
        <%= t('back') %>
      <% end unless @post_category&.parent  %>
    <% end %>
  </div>

  <%= render 'websites/categories', categories: @post_categories %>
<% end %>

<% @posts.each do |post| %>
  <%= render 'websites/post_intro', post: post %>
<% end %>

<%= paginate @posts %>
