<%= simple_form_for @filter_form,
                    method: :patch,
                    url: table_filters_path do |f| %>

  <%= render "table/filters/types/#{@elastic_column[:type]}", f: f %>

  <%= f.input :model, as: :hidden %>

  <%= f.input :state, as: :hidden %>

  <%= f.input :column, as: :hidden %>

  <div class="form-footer mt-4">
    <%= f.button :submit, class: 'btn btn-primary' %>
    <%= f.button :submit, t('.reset_filter'), name: 'reset_filter', class: 'ms-2'%>
  </div>
<% end %>
