<%= simple_form_for @filter_form,
                    method: :patch,
                    url: table_filters_path do |f| %>

  <p><%= @elastic_column[:type] %></p>

  <%= render "table/filters/types/#{@elastic_column[:type]}", f: f %>

  <%= f.input :model, as: :hidden %>

  <%= f.input :state, as: :hidden %>

  <%= f.input :column, as: :hidden %>

  <div class="form-footer">
    <%= f.button :submit, class: 'btn btn-primary mt-2' %>
  </div>
<% end %>
