<div class="tw-z-40 tw-flex-auto tw-flex tw-flex-col tw-justify-center">
  <div class="tw-min-h-full tw-flex tw-flex-col tw-justify-center tw-py-12 sm:tw-px-6 lg:tw-px-8">
    <div class="sm:tw-mx-auto sm:tw-w-full sm:tw-max-w-md">
      <% if false %>
      <%= link_to root_path do %>
        <%= image_tag(asset_path('roast-me-fire-blue.svg'), class: 'tw-mx-auto tw-h-7 tw-w-auto') %>
      <% end %>
      <% end %>
    </div>
    <div class="sm:tw-mx-auto sm:tw-w-full sm:tw-max-w-md">
      <div class="tw-bg-white tw-py-8 tw-px-4 tw-shadow sm:tw-rounded-lg sm:tw-px-10">
        <div class="tw-mb-6">
          <h2 class="tw-text-center tw-text-2xl tw-font-extrabold tw-text-gray-700">
            <%= t('.sign_in') %>
          </h2>
          <p class="tw-mt-2 tw-text-center tw-text-sm tw-text-gray-600">
            Или
            <!-- space -->
            <%= link_to new_user_registration_path, class: 'tw-font-medium tw-text-indigo-600 hover:tw-text-indigo-500' do %>
              зарегистрироваться
            <% end %>
          </p>
        </div>
        <%= form_with(model: resource, as: resource_name, url: session_path(resource_name), local: true, method: :post, data: { turbo: false }) do |f| %>
          <%= render(
            ReactComponent.new( name: 'Alert',
                                class: '',
                                props: {
                                  type: 'danger',
                                  children: alert
                                }))
          %>
          <%= render(
            ReactComponent.new( name: 'Alert',
                                class: '',
                                props: {
                                  type: 'info',
                                  children: notice
                                }))
          %>

          <div class="tw-mt-6">
            <label for="user_email" class="tw-block tw-text-sm tw-font-medium tw-text-gray-700">
              <%= t('email', scope: ['activerecord', 'attributes', 'user'] ) %>
            </label>
            <div class="tw-mt-1">
              <%= f.text_field :email,
                    id: 'user_email',
                    required: false,
                    autofocus: true,
                    class: 'tw-appearance-none tw-block tw-w-full tw-px-3 tw-py-2 tw-border tw-border-gray-300 tw-rounded-md  tw-placeholder-gray-400 focus:tw-outline-none focus:tw-ring-indigo-500 focus:tw-border-indigo-500 sm:tw-text-sm',
                    autocomplete: "email" %>
            </div>
          </div>
          <div class="tw-mt-6">
            <label for="user_password" class="tw-block tw-text-sm tw-font-medium tw-text-gray-700">
              <%= t('password', scope: ['activerecord', 'attributes', 'user'] ) %>
            </label>
            <div class="tw-mt-1">
              <%= f.text_field :password,
                    id: 'user_password',
                    type: 'password',
                    required: false,
                    class: 'tw-appearance-none tw-block tw-w-full tw-px-3 tw-py-2 tw-border tw-border-gray-300 tw-rounded-md  tw-placeholder-gray-400 focus:tw-outline-none focus:tw-ring-indigo-500 focus:tw-border-indigo-500 sm:tw-text-sm',
                    autocomplete: "current-password" %>
            </div>
          </div>
          <div class="tw-mt-6 tw-flex tw-items-center tw-justify-between">
            <div class="tw-flex tw-items-center">
              <%= f.check_box :remember_me, id: 'remember_me', class: 'class="tw-h-4 tw-w-4 tw-text-indigo-600 focus:tw-ring-indigo-500 tw-border-gray-300 tw-rounded' if devise_mapping.rememberable? %>
              <label for="remember_me" class="tw-ml-2 tw-block tw-text-sm tw-text-gray-900">
                <%= t('remember_me', scope: ['activerecord', 'attributes', 'user']) %>
              </label>
            </div>
            <div class="tw-text-sm">
              <%= link_to new_user_password_path, class: 'tw-font-medium tw-text-indigo-600 hover:tw-text-indigo-500' do %>
                <%= t('forgot_your_password', scope: ['devise', 'shared', 'links']) %>
              <% end %>
            </div>
          </div>
          <div class="tw-mt-6">
            <%= f.button t(".sign_in"), type: :submit, class: 'tw-w-full tw-flex tw-justify-center tw-py-2 tw-px-4 tw-border tw-border-transparent tw-rounded-md  tw-text-sm tw-font-medium tw-text-white tw-bg-indigo-600 hover:tw-bg-indigo-700 focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-offset-2 focus:tw-ring-indigo-500', id: 'login' %>
          </div>
        <% end %>
        <%= render 'devise/social_login' %>
      </div>
    </div>
  </div>
</div>
<%= render "devise/shared/links" %>
