<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @template2.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @template2.gender %>
</p>

<p>
  <strong>Foo:</strong>
  <%= @template2.foo %>
</p>

<%= link_to 'Edit', edit_template2_path(@template2) %> |
<%= link_to 'Back', template2s_path %>
