<%# TODO: write it better. Without dynamic id. somehow use: html5 %>
<% f = nil %>
<% id = rand %>
<%# TODO: write article %>
<%= simple_form_for(mention,
                    html: { id: id, multipart: true },
                    defaults: {
                      input_html: {
                        form: id
                      }
                    }
    ) do |form| %>
  <% f = form %>
<% end %>

<%= tag.div do %>
  <% suppress_default_error_proc do %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= tag.div 'data-controller': "mention-url scrapper", class: 'row' do %>
      <div class="mb-3 col-sm-9 col-md-8 col-lg-8 col-xl-7 col-xxl-6">
        <div class="card mb-3">
          <div class="card-body">
            <div class="form-inputs">

              <div class="row row-deck">
                <div class="col-lg-12 mb-3">
                  <div class="card">
                    <div class="card-body bg-yellow-lt">
                      <%= f.input :url,
                                  as: :string,
                                  input_html: {
                                    "data-mention-url-target": 'url',
                                    "data-scrapper-target": 'url',
                                    "data-action": "input->mention-url#input input->scrapper#input"
                                  } %>
                    </div>
                  </div>
                </div>

                <div class="col-lg-12 mb-3">
                  <div class="card">
                    <div class="card-body bg-azure-lt">
                      <%= render 'image', f: f %>
                    </div>
                  </div>
                </div>
              </div>

              <%= render 'entities', f: f %>

              <%= render AccordionComponent.new(accordion_id: 'mention-extra-accordion', css_class: 'mb-3 bg-white') do |accordion_component| %>

                <%= render 'title_field', f: f, accordion_component: accordion_component %>

                <%= render 'html_field', f: f, accordion_component: accordion_component %>

                <%= render 'topics_field', f: f, accordion_component: accordion_component %>

                <%= render 'sentiments_field', f: f, accordion_component: accordion_component %>

                <%= render 'kinds_field', f: f, accordion_component: accordion_component %>

                <%= render 'published_at_field', f: f, accordion_component: accordion_component %>

              <% end %>

            </div>
          </div>
        </div>

        <%= render 'editorial', f: f %>

        <div class="d-flex flex-column flex-sm-row gap-2">
          <%= f.button :submit, class: 'btn btn-purple', form: f.options[:html][:id] %>
          <%= link_to t('back'), mentions_path, class: "btn btn-white" %>

          <% if @mention.persisted? %>
            <%= link_to t('delete'), mention_path(@mention.id),
                        class: "ms-auto btn btn-danger #{'disabled' unless policy(@mention).destroy?}",
                        'data-turbo-method': :delete,
                        'data-turbo-confirm': t('are_you_sure'),
                        rel: Seo::NoFollow %>
          <% end %>
        </div>

      </div>
      <div class="col mb-3 scrollable-mention-search-parent">
        <div class="d-flex flex-wrap bg-white scrollable-mention-search" data-mention-url-target="similarUrls"></div>
      </div>
    <% end %>

  <% end %>
<% end %>