<%# TODO: write it better. Without dynamic id. somehow use: html5 %>
<% f = nil %>
<% id = rand %>
<%# TODO: write article %>
<%= simple_form_for(mention,
                    html: { id: id, multipart: true },
                    defaults: {
                      input_html: {
                        form: id
                      }
                    }
    ) do |form| %>
  <% f = form %>
<% end %>

<%= tag.div do %>
  <% suppress_default_error_proc do %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= tag.div 'data-controller': "mention-url", class: 'row' do %>
      <div class="mb-3 col-sm-9 col-md-8 col-lg-8 col-xl-7 col-xxl-6">
        <div class="card mb-3">
          <div class="card-body">
            <div class="form-inputs">

                <%= f.input :url,
                            as: :string,
                            input_html: {
                              "data-mention-url-target": 'url',
                              "data-action": "input->mention-url#input"
                            } %>

              <%= render 'entities', f: f %>

              <%= render 'image', f: f %>

              <%= f.input :title,
                          input_html: {
                            "data-mention-url-target": 'title'
                          } %>

              <%= render 'topics', f: f %>

              <%= f.input :sentiment,
                          as: :radio_buttons,
                          collection: Mention.sentiments.keys.map { |key|
                            [render(Mentions::SentimentIconComponent.new(sentiment: key)), key]
                          },
                          wrapper: :radio_button_group %>

              <%= render 'kinds', f: f %>

              <%= f.input :published_at, as: :string,
                          input_html: {
                            "data-controller": "flatpickr"
                          } %>

            </div>
          </div>
        </div>

        <%= render 'editorial', f: f %>

      </div>
      <div class="col">
        <div class="d-flex flex-wrap bg-white" data-mention-url-target="similarUrls"></div>
      </div>
    <% end %>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-primary', form: f.options[:html][:id] %>
      <%= link_to t('back'), mentions_path, class: "btn btn-white" %>
    </div>
  <% end %>
<% end %>