<%= tag.div class: 'mb-3',
            'data-controller': 'shrine-upload',
            'data-action': 'pushEventStack@window->shrine-upload#pushEventStack
                                          popEventStack@window->shrine-upload#popEventStack' do %>

  <%= f.input :image,
              label: t('.image'),
              as: :hidden,
              wrapper: false,
              error: false,
              input_html: {
                id: nil,
                value: f.object.cached_image_data
              } %>

  <%= f.label :image,
              class: 'width-100 min-height-100 img-thumbnail d-flex align-items-center position-relative bg-white',
              role: 'button' do %>

    <div class="position-absolute top-50 start-50 translate-middle">
      <div data-scrapper-target="spinner" class="spinner-border text-indigo my-3 d-none"></div>
    </div>

    <%= image_tag f.object.image_url.presence || asset_pack_path('media/images/icon-upload.png'),
                  class: 'mx-auto d-block',
                  'data-scrapper-target': 'imagePreview',
                  'data-shrine-upload-target': 'imagePreview' %>

  <% end %>

  <%= f.input :image,
              wrapper: false,
              label: false,
              input_html: {
                'data-scrapper-target': 'inputFile',
                'data-shrine-upload-target': 'inputFile',
                class: "d-none"
              } %>
<% end %>
