<div class="tw-bg-sky-50 tw-border tw-rounded-xl tw-p-3 tw-mt-8">
  <div class="tw-flex">
    <div class="!tw-w-[40%] tw-pr-10">
      <%= render ImagesLightboxComponent.new(
        images: GlobalHelper.image_hash(mention.images.slice(0, 1)),
        class: 'tw-rounded-lg tw-border',
        size: '500'
      ) %>
    </div>

    <div class="!tw-w-[60%]">
      <%
        website = begin
                    URI(mention.url).host || 'сайт'
                  rescue StandardError
                    'сайт'
                  end
      %>

      <%= link_to mention, class: 'tw-text-base tw-mb-3 tw-block tw-text-gray-500' do %>
        <%= "#{website}" %>
        <% if mention.title.present? %>
          /
        <% end %>
        <%= mention.title %>
      <% end %>

      <div class="tw-my-3">
        <% collection = mention.entities_mentions.includes(:entity).map do |entity_mention|
          {
            'id' => entity_mention.entity_id,
            'title' => entity_mention.entity.to_label,
            'is_main' => true
          }
        end %>
        <%#= render(EntitiesGroupComponent.new(entities_group: collection)) %>
        <%#= render(Mentions::EntityComponent.with_collection()) %>
        <%= render(
              ReactComponent.new(name: 'Carousel',
                                 class: '',
                                 props: { items: collection
                                 }))
        %>
      </div>

      <div class="tw-flex tw-flex-wrap tw-gap-1">
        <% mention.topics.each do |topic| %>
          <%= render ReactComponent.new(name: 'EntitiesTag',
                                        class: '',
                                        props: {
                                          tag: topic,
                                          textColor: 'tw-text-blue-800',
                                          bgColor: 'tw-bg-blue-100'
                                        }) %>
        <% end %>
      </div>

      <div class="tw-mt-3">
        <%= render TimeAgoComponent.new(datetime: mention.published_at) %>
      </div>


    </div>
  </div>
</div>
