<div class="col">
  <div class="card">

    <%= render Mentions::ImageLightboxComponent.new(
      image_original: mention.image_url,
      image_thumbnail: mention.image.derivation_url(:thumbnail, 800, 800),
      image_width: mention.image.metadata['width'],
      image_height: mention.image.metadata['height'],
      image_class: 'card-img-top img-thumbnail') %>

    <div class="card-body overflow-auto">
      <h5 class="card-title">
        <%
          website = begin
                      URI(mention.url).host || 'сайт'
                    rescue StandardError
                      'сайт'
                    end
        %>

        <%= link_to mention.url, rel: 'noreferrer', class: 'text-decoration-none' do %>
          <%= mention.title %>
          <% if mention.title %>
            /
          <% end %>
          Подробнее на
          <%= "#{website}" -%><% end -%>&nbsp;&nbsp;<%= link_to mention_path(mention) do %><i class="fas fa-pencil-alt"></i>
        <% end %>
      </h5>

      <p class="card-text">
        <%= render(Mentions::EntityComponent.with_collection(mention.entities.map(&:to_label).zip(mention.entity_ids))) %>
      </p>
      <p class="card-text">
        <%= render(TextTagComponent.with_collection(mention.topics.map(&:to_label))) %>
      </p>
      <p class="card-text">
        <%= render Mentions::SentimentTextComponent.new(sentiment_text: mention.sentiment) %>
        <%= render(Mentions::KindTextComponent.with_collection(mention.kinds)) %>
      </p>
      <p class="card-text"><%= GlobalHelper.decorate_datetime(mention.published_at) %></p>
    </div>
  </div>
</div>