<div class="col">
  <div class="card">
    <div data-controller="lightbox">
      <% options = { class: 'card-img-top img-thumbnail' } %>
      <%= link_to mention.image_url,
                  'data-pswp-width': mention.image.metadata['width'],
                  'data-pswp-height': mention.image.metadata['height'],
                  'target': '_blank',
                  class: 'photo-swipe' do %>
        <%= image_tag mention.image_url, options %>
      <% end %>
    </div>
    <div class="card-body overflow-auto">
      <h5 class="card-title">
        <%
          website = begin
                      URI(mention.url).host || 'сайт'
                    rescue StandardError
                      'сайт'
                    end
        %>
        <%= link_to "Перейти на: #{website}", mention.url, rel: 'noreferrer', class: 'text-primary'  %>
      </h5>
      <p class="card-text">
        <%= render(Mentions::EntityComponent.with_collection(mention.entities.map(&:to_label).zip(mention.entity_ids))) %>
      </p>
      <p class="card-text">
        <%= render(TextTagComponent.with_collection(mention.topics.map(&:to_label))) %>
      </p>
      <p class="card-text">
        <%= render Mentions::SentimentTextComponent.new(sentiment_text: mention.sentiment) %>
        <%= render(Mentions::KindTextComponent.with_collection(mention.kinds)) %>
      </p>
      <p class="card-text"><%= GlobalHelper.decorate_datetime(mention.published_at) %></p>
    </div>
  </div>
</div>