<% content_for(:seo_title) do %>
  <%= t("titles.mentions") %>
<% end %>

<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item">
    <%= link_to t('breadcrumbs.homepage'), root_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to t('breadcrumbs.dashboard'), dashboard_path %>
  </li>
  <li class="breadcrumb-item">
    <%=link_to t('breadcrumbs.mentions'), mentions_path %>
  </li>
  <li class="breadcrumb-item active">
    <%=link_to t('breadcrumbs.show_mention'), mention_path(@mention) %>
  </li>
<% end %>

<div class="col">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-12 col-xl-8">
          <div class="card mb-3">
            <div class="card-body">
              <dl class="row">

                <div class="position-relative">
                  <% kind = 'mentions' %>
                  <% favorites_store = FavoritesStore.new(current_user) %>
                  <% favorites_store.append(@mention.id, kind) %>

                  <%= render StarFavoriteComponent.new(
                    is_favorite: favorites_store.find(@mention.id, kind),
                    ext_id: @mention.id,
                    favorites_items_kind: kind,
                    bobber: {
                      class: 'position-absolute z-index-decreased',
                      style: 'top: -5px; right: 0px;'
                    }) %>
                </div>

                <dt class="col-sm-3"> <%= t('id', scope: ['simple_form', 'labels', 'mention']) %> </dt>
                <dd class="col-sm-9"> <%= @mention.id %> </dd>

                <dt class="col-sm-3"> <%= t('url', scope: ['simple_form', 'labels', 'mention']) %> </dt>
                <dd class="col-sm-9"> <%= link_to @mention.url, @mention.url, rel: 'noreferrer' %> </dd>

                <dt class="col-sm-3"> <%= t('title', scope: ['simple_form', 'labels', 'mention']) %> </dt>
                <dd class="col-sm-9"> <%= @mention.title %> </dd>

                <% if false %>
                  <dt class="col-sm-3"> <%= t('publisher_ext_id', scope: ['simple_form', 'labels', 'mention']) %> </dt>
                  <dd class="col-sm-9"> <%= @mention.publisher_ext_id %> </dd>
                <% end %>

                <dt class="col-sm-3"> <%= t('entities', scope: ['simple_form', 'labels', 'mention']) %> </dt>
                <dd class="col-sm-9">
                  <% collection = @mention.entities_mentions.includes(:entity).map do |entity_mention|
                    {
                      'id' => entity_mention.entity_id,
                      'title' => entity_mention.entity.to_label,
                      'is_main' => entity_mention.is_main
                    }
                  end %>
                  <%= render(Mentions::EntityComponent.with_collection(collection)) %>
                </dd>

                <dt class="col-sm-3"> <%= t('topics', scope: ['simple_form', 'labels', 'mention']) %> </dt>
                <dd class="col-sm-9"> <%= render(TextTagComponent.with_collection(@mention.topics.map(&:to_label))) %> </dd>

                <dt class="col-sm-3"> <%= t('sentiment', scope: ['simple_form', 'labels', 'mention']) %> </dt>
                <dd class="col-sm-9"> <%= render Mentions::SentimentTextComponent.with_collection(@mention.sentiments) %> </dd>

                <dt class="col-sm-3"> <%= t('kinds', scope: ['simple_form', 'labels', 'mention']) %> </dt>
                <dd class="col-sm-9"> <%= render(Mentions::KindTextComponent.with_collection(@mention.kinds)) %> </dd>

                <dt class="col-sm-3"> <%= t('published_at', scope: ['simple_form', 'labels', 'mention']) %> </dt>
                <dd class="col-sm-9"> <%= GlobalHelper.decorate_datetime(@mention.published_at) %> </dd>

                <dt class="col-sm-3"> <%= t('created_at') %> </dt>
                <dd class="col-sm-9"> <%= GlobalHelper.decorate_datetime(@mention.created_at) %> </dd>

                <dt class="col-sm-3"> <%= t('updated_at') %> </dt>
                <dd class="col-sm-9"> <%= GlobalHelper.decorate_datetime(@mention.updated_at) %> </dd>

                <dt class="col-sm-3"> <%= t('image') %> </dt>
                <dd class="col-sm-9">
                  <%= render Mentions::ImageLightboxComponent.new(
                    **@mention.image_hash,
                    class: 'img-thumbnail bg-white',
                    size: '300'
                  ) %>
                </dd>

                <% if current_user&.staff? %>
                  <hr class="my-2">
                  <dt class="col-sm-3"> <%= t('user', scope: ['simple_form', 'labels', 'mention']) %> </dt>
                  <dd class="col-sm-9"> <%= @mention.user.to_label %> </dd>
                <% end %>
              </dl>
            </div>
          </div>

          <div class="d-flex flex-column flex-sm-row gap-2">
            <%= link_to t('new'), new_mention_path,
                        class: "btn btn-primary #{'disabled' unless policy(@mention).new? }" %>
            <%= link_to t('edit'), edit_mention_path(@mention),
                        class: "btn btn-primary #{'disabled' unless policy(@mention).edit? }" %>
            <%= link_to t('back'), mentions_path, class: "btn btn-white" %>
            <%= link_to t('delete'), mention_path(@mention.id),
                        class: "ms-auto btn btn-danger #{'disabled' unless policy(@mention).destroy?}",
                        'data-turbo-method': :delete,
                        'data-turbo-confirm': t('are_you_sure') %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>