<% if params[:q].present? && params[:feed_id].present? %>

  <div class="card my-5" role="alert">
    <div class="card-body h-8">

      Включен поиск по тексту. Возможно часть товаров не отображается.
      <%= link_to 'Отключить поиск по тексту.',
                  feed_offers_path(params[:feed_id], {}.tap { |hsh| hsh[:category_id] = params[:category_id] if params[:category_id].present? }),
                  class: 'alert-link' %>

      <%# if false %>
      Также вы можете
      <%= link_to 'поискать товар во всех магазинах.', offers_path(q: params[:q]), class: 'alert-link' %>
      <%# end %>

    </div>
    <div class="ribbon">
      <%== GlobalHelper.icons['bulb'] %>
    </div>
  </div>
<% end %>

<% if false %>
<% if params[:q].present? && params[:feed_id].present? && params[:category_id].blank? && @offers.blank? %>
  <div class="alert alert-success my-3" role="alert">
    <span class="mr-2"><%== GlobalHelper.icons['bulb'] %></span>
    Похоже, что у данного рекламодателя нет ни одного такого товара.
    <%= link_to 'Хотите поискать среди всех рекламодателей?',
                offers_path(q: params[:q]),
                class: 'alert-link' %>
  </div>
<% end %>
<% end %>
