<%= tag.div class: "item_offer col-xs-12 col-md-6 col-lg-4" do %>
  <div class="card d-flex flex-column">

    <div class="ribbon bg-gray-lt ribbon-top ribbon-left p-1" style="z-index:100; display: table; white-space: nowrap">
      <%= render FavoriteComponent.new(is_favorite: row.is_favorite, ext_id: row['_id'], kind: 'offers', starred_class: 'text-lime', unstarred_class: 'text-gray') %>
    </div>

    <a href="#" class="d-block">
      <%= render 'carousel', row: row, offer_idx: row_counter %>
    </a>

    <%= render 'card_header', row: row %>

    <div class="card-body d-flex flex-column lh-sm">

      <div class="mb-2">

        <% advertiser = @all_offers_advertisers.find { |advertiser| advertiser.id == row['_source']['advertiser_id']} %>
        <% feed = @all_offers_feeds.find { |feed| feed.id == row['_routing'].to_i} %>

        <%= link_to request.params.merge(feed_id: feed.slug_with_advertiser),
                    class: 'overflow-auto w-100 btn btn-ghost-secondary justify-content-start mb-2 text-left' do %>
          <%= advertiser.name %>
          <%= feed.name %>
        <% end %>

        <% row['_source']['feed_category_ids'] != -1 && row['_source']['feed_category_ids'].each do |feed_category_id| %>
          <% cat = @all_categories.find { |cat| cat.id == feed_category_id } %>
          <%= link_to feed_offers_path(feed_id: feed.slug_with_advertiser, category_id: cat.id, q: params[:q]), class: 'overflow-auto w-100 btn btn-ghost-secondary text-left justify-content-start mb-2' do %>
            <%= cat.name %>
          <% end %>
        <% end %>
      </div>

      <div class="text-break" style="word-break: break-word">

        <% highlighted_description = row.dig('highlight', "description.#{Feeds::Offers::HASH_BANG_KEY}") %>
        <% if highlighted_description.present? %>
          <%== highlighted_description.join(' ') %>
        <% else %>
          <% source_description = row.dig('_source', 'description') %>
          <% if source_description.present? %>
            <%= truncate(source_description.map { |item| item[Feeds::Offers::HASH_BANG_KEY]}.join, length: 200) %>
          <% end %>
        <% end %>

      </div>

      <div class="mt-auto">
        <%= link_to t('buttons.write_post'), write_favorites_path(ext_id: row['_id']), method: :post, class: 'btn btn-primary d-block mt-3' %>
        <% if policy(:feed).new? %>
          <% if false %>
            <%= tag.button class: 'btn mb-1 btn-warning', data: {
                controller: 'modal-static-opener',
                action: 'modal-static-opener#open',
                modal_static_opener_json: row } do %>
              <%= t('offer', scope: ['buttons']) %>
            <% end %>
          <% end %>
        <% end %>
      </div>

    </div>

  </div>
<% end %>
