<%= simple_form_for(@check) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :amount %>
    <%= f.input :currency, collection: Rails.configuration.global[:currencies].keys %>
    <%= f.input :is_payed %>
    <%= f.input :payed_at %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
