<%= content_tag :div, data: { controller: 'posts-form',
                              action:
                                  'beforeunload@window->posts-form#AskConfirmationOnBeforeunload
                                   trix-initialize@document->posts-form#addToolbarButtonOnTrixInitialize
                                   trix-action-invoke@document->posts-form#openModalOnTrixActionInvoke
                                   trix-document-change@document->posts-form#markAsDirtyOnTrixChange
                                   load@window->posts-form#openModalOnPageLoad' } do %>

  <%= simple_form_for(@post,
                      wrapper_mappings: {
                          check_boxes:    :vertical_collection,
                          radio_buttons:  :vertical_collection,
                          file:           :custom_file,
                          boolean:        :custom_boolean_switch
                      }) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="card pb-4">
      <div class="card-body">
        <div class="form-inputs">

          <%= f.input :title,
                      wrapper_html: {class: 'mb-3 col-xl-8'},
                      label_html: { :class => "mb-2" } %>

          <%= f.input :language, as: :select,
                      wrapper_html: {class: 'mb-3 col-xl-8'},
                      label_html: { :class => "mb-2" },
                      collection: Rails.configuration.global[:languages].map { |lng| [lng[:language], lng[:english_name]] },
                      input_html: { data: { controller: 'posts-language' }}
          %>

          <%= f.association :post_category, as: :select,
                      input_html: { data: { controller: 'posts-category' }},
                      wrapper_html: {class: 'mb-3 col-xl-8'},
                      label_html: { class: "mb-2" },
                      collection: PostCategory.where(id: f.object.post_category_id).map {
                        [_1[:title], _1[:id], data: { data: {title: _1.title, path: _1.path.pluck(:title).join(' > ')} }]
                      },
                      selected: f.object.post_category_id
          %>

          <%= f.input :status,
                      as: :radio_buttons,
                      collection: [
                          ([t('.statuses.draft'), 'draft'] if PostStatusesPolicy.new(current_user, @post).to_draft?),
                          ([t('.statuses.pending'), 'pending'] if PostStatusesPolicy.new(current_user, @post).to_pending?),
                      ].compact,
                      wrapper: :vertical_collection_inline,
                      wrapper_html: {class: 'mb-3 col-xl-8'}
          %>

          <% Rails.configuration.global[:post_extra_options].each do |option_title, option_settings| %>
            <%= f.simple_fields_for :extra_options do |extra| %>
              <%= extra.input option_title.to_sym,
                              as: option_settings[:type],
                              checked: f.object.extra_options&.dig(option_title.to_s),
                              item_wrapper_class: 'mt-0',
                              item_label_class: 'ml-2',
                              wrapper_html: {class: 'mb-3 col-xl-8'},
                              collection: option_settings[:values].pluck(:title).map { |a| [t(a), a]}
              %>
            <% end %>
          <% end %>

          <div class="trix-content mb-3">
            <%= f.input :body,
                        as: :rich_text_area,
                        input_html: { data: { target: 'posts-form.editor' } },
                        label: false,
                        placeholder: t('.placeholder'),
                        wrapper_html: { class: 'col-xl-10' }
            %>
          </div>
        </div>
      </div>
    </div>

    <% if PostStatusesPolicy.new(current_user, @post).to_accrued? ||
        PostStatusesPolicy.new(current_user, @post).to_rejected? ||
        PostStatusesPolicy.new(current_user, @post).to_canceled?
    %>
      <div class="card my-3 col-lg-6">
        <div class="card-status-left bg-warning"></div>
        <div class="card-body">
          <h3 class="card-title">
            <%= t('.moderation_status') %>
          </h3>
          <%= f.input :status,
                      as: :radio_buttons,
                      collection: [
                          ([t('.statuses.accrued'), 'accrued'] if PostStatusesPolicy.new(current_user, @post).to_accrued?),
                          ([t('.statuses.rejected'), 'rejected'] if PostStatusesPolicy.new(current_user, @post).to_rejected?),
                          ([t('.statuses.canceled'), 'canceled'] if PostStatusesPolicy.new(current_user, @post).to_canceled?)
                      ].compact,
                      label: false,
                      include_hidden: false,
                      wrapper: :vertical_boolean,
                      hint: t('.moderation_parting_words')
          %>
        </div>
      </div>
    <% end %>

    <div class="form-actions">
      <%= link_to 'Back', posts_path, class: "btn btn-white" %>

      <%= f.button :submit, class: 'btn btn-primary', data:{
          action: 'posts-form#sendForm'
      } %>
    </div>

  <% end %>

  <%= render 'modal_embed' %>

<% end %>
