<% seo.title! t("titles.checks") %>

<% content_for :breadcrumbs do %>
  <%= render BreadcrumbComponent.new do |b| %>
    <%= b.root_item title: t('breadcrumbs.homepage'), url: root_path %>
    <%= b.item title: t('breadcrumbs.dashboard'), url: dashboard_path %>
    <%= b.item title: t('breadcrumbs.checks'), url: checks_path %>
    <%= b.item title: t('breadcrumbs.show_check'), url: check_path(@check) %>
  <% end %>
<% end %>

<div class="mb-3 col-sm-9 col-md-8 col-lg-8 col-xl-7 col-xxl-6">
  <div class="card mb-3">
    <div class="card-body">
      <dl class="row">
        <dt class="col-sm-3"> <%= t('id', scope: ['simple_form', 'labels', 'entity']) %> </dt>
        <dd class="col-sm-9"> <%= @check.id %> </dd>

        <dt class="col-sm-3"> <%= t('amount', scope: ['simple_form', 'labels', 'check']) %> </dt>
        <dd class="col-sm-9"> <%= GlobalHelper.decorate_money(@check.amount, @check.currency) %> </dd>

        <dt class="col-sm-3"> <%= t('status', scope: ['simple_form', 'labels', 'check']) %> </dt>
        <dd class="col-sm-9"> <%= badge(status: @check.status) %> </dd>

        <dt class="col-sm-3"> <%= t('created_at') %> </dt>
        <dd class="col-sm-9"> <%= render TimeAgoComponent.new(datetime: @check.created_at) %> </dd>

        <dt class="col-sm-3"> <%= t('updated_at') %> </dt>
        <dd class="col-sm-9"> <%= render TimeAgoComponent.new(datetime: @check.updated_at) %> </dd>

        <% if current_user.staff? %>
          <hr class="my-2">

          <dt class="col-sm-3"> <%= t('user', scope: ['simple_form', 'labels', 'check']) %> </dt>
          <dd class="col-sm-9"> <%= @check.user.to_label %> </dd>
        <% end %>
      </dl>
    </div>
  </div>
</div>

<%= render 'shared/balance/account_wrapper', check: @check %>

<div class="row">
  <div class="col">
    <% disabled = 'disabled' unless policy(@check).edit? %>
    <%= link_to t('edit'), edit_check_path(@check), 'data-turbo': 'false', class: "btn btn-primary #{disabled}" %>
    <%= link_to t('back'), checks_path, class: "btn btn-white" %>
  </div>
</div>

