<% if current_advertiser || current_feed || current_feed_category %>

  <%= button_tag 'data-target': 'search-offers.searchButton',
                 'data-bs-toggle': 'dropdown',
                 class: "btn #{btn_class} btn-icon rounded-end" do %>
    <%= t('search') %>
  <% end %>

  <div class="dropdown-menu dropdown-menu-end">
    <% if current_feed_category %>
      <%= button_tag t('.search_inside_feed_category', name: current_feed_category.to_label),
                     'data-action': 'search-offers#searchInsideFeedCategory' ,
                     class: 'dropdown-item' %>
    <% end %>

    <% if current_feed %>
      <%= button_tag t('.search_inside_feed', name: current_feed.to_label),
                     'data-action': 'search-offers#searchInsideFeed',
                     class: 'dropdown-item' %>
    <% end %>

    <% if current_advertiser %>
      <%= button_tag t('.search_inside_advertiser', name: current_advertiser.to_label),
                     'data-action': 'search-offers#searchInsideAdvertiser',
                     class: 'dropdown-item' %>
    <% end %>

    <%= button_tag t('.search_everywhere'),
                   'data-action': 'search-offers#searchEverywhere',
                   class: 'dropdown-item' %>
  </div>

<% else %>

  <%= button_tag 'data-target': 'search-offers.searchButton',
                 'data-action': 'search-offers#searchEverywhere',
                 class: "btn #{btn_class} btn-icon rounded-end" do %>
    <%= t('search') %>
  <% end %>
<% end %>
