<% if params[:feed_id].present? %>

  <%= button_tag data: { target: 'search-offers.searchButton', 'bs-toggle': 'dropdown', test_id: 'search-button' },
                 id: nil,
                 class: "btn #{btn_class} dropdown-toggle",
                 aria: { label: 'Button' } do %>
    <%== GlobalHelper.icon('search') %>
  <% end %>

  <div class="dropdown-menu dropdown-menu-end">
    <% if params[:category_id] %>
      <%= button_tag t('.search_inside_category'),
                     data: { action: 'search-offers#searchInsideCategory', test_id: 'search-category' },
                     id: nil,
                     class: 'dropdown-item' %>
    <% end %>
    <%= button_tag t('.search_inside_feed'),
                   data: { action: 'search-offers#searchInsideFeed', test_id: 'search-feed' },
                   id: nil,
                   class: 'dropdown-item' %>
    <%= button_tag t('.search_everywhere'),
                   data: { action: 'search-offers#searchEverywhere', test_id: 'search-everywhere' },
                   id: nil,
                   class: 'dropdown-item' %>
  </div>

<% else %>

  <%= button_tag data: { target: 'search-offers.searchButton', action: 'search-offers#searchEverywhere', test_id: 'search-button' },
                 id: nil,
                 class: "btn #{btn_class} btn-icon",
                 aria: { label: 'Button' } do %>
    <%== GlobalHelper.icon('search') %>
  <% end %>
<% end %>
