<% scope = ['devise', 'registrations', 'edit'] %>

<% seo.title! t("titles.settings") %>

<% content_for :breadcrumbs do %>
  <%= render BreadcrumbComponent.new do |b| %>
    <%= b.root_item(title: t('breadcrumbs.homepage'), url: root_path) %>
    <%= b.item(title: t('breadcrumbs.dashboard'), url: dashboard_path) %>
    <%= b.item(title: t('breadcrumbs.email'), url: edit_settings_email_path) %>
  <% end %>
<% end %>

<div class="col">
<div class="card card-md">

  <div class="card-body">

    <div class="row">

      <div class="col-md-3 me-3">
        <%= render ProfileListComponent.new %>
      </div>

      <div class="col-md-5">

        <h2 class="mb-4"><%= t('.email') %></h2>

        <%= simple_form_for(resource, as: resource_name, url: settings_email_path, html: { method: :put, 'data-turbo': false }) do |f| %>

          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true, wrapper_html: { class: 'mb-3' } %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p><%= t("currently_waiting_confirmation_for_email", email: resource.unconfirmed_email, scope: scope) %></p>
            <% end %>
          </div>

          <div class="form-footer">
            <%= f.button :submit, t("update", scope: scope), class: 'btn btn-primary' %>
          </div>

        <% end %>

      </div>
    </div>
  </div>

</div>
</div>
