<header class="navbar navbar-expand-md navbar-light d-none d-lg-flex">
  <div class="container-xl">

    <%= link_to params[:controller] == 'dashboard' ? root_path : dashboard_path, class: 'navbar-brand me-3' do %>
      <%#= image_tag(asset_pack_path('media/images/logo.svg'), width: "110", height: "32", class: "navbar-brand-image") %>
      <%= image_tag(asset_pack_path('media/images/roast-me-blue.svg'), class: "tw-h-5 navbar-brand-image") %>
    <% end %>

    <%= render 'desktop_search_wrapper' do %>
      <%= render 'search_bar', btn_class: 'btn-secondary' %>
    <% end %>

    <div class="navbar-nav d-flex ms-auto">

      <div class="nav-item dropdown me-3">
        <%= render Header::NewsComponent.new(params[:locale]) %>
      </div>

      <%= tag.div class: 'nav-item dropdown me-3', **data_attributes_for_navbar_favorite do %>
        <%= render NavbarFavoriteComponent.new %>
      <% end %>

      <div class="nav-item dropdown me-3">
        <%= render Header::LanguageComponent.new(capybara_browser: 'capybara-desktop') %>
      </div>

      <div class="nav-item">
        <%= render Header::UserComponent.new(user: current_user) %>
      </div>

      <%= render Header::ProfileComponent.new(capybara_browser: 'capybara-desktop', current_user: current_user, true_user: true_user) %>
    </div>

  </div>
</header>
