<% if true %>
<p>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-target
  </button>
</p>

<div class="collapse" id="collapseExample">
  <div class="card card-body col-8">

    <%= simple_form_for @filter_form, local: true do |f| %>
      <% klass.columns.each do |col_name, _| %>
        <% if "TableSettings::#{model}".constantize.col_names_for(current_user).include? col_name %>
          <div class="d-none">
          <%= f.input col_name,
                      as: :boolean,
                      wrapper: :horizontal_collection_inline,
                      wrapper_html: {class: 'mb-3'} %>
          </div>
        <% else %>
<!--          <fieldset class="form-fieldset">-->
            <%= col_name %>

            <%= f.input col_name,
                      as: :boolean,
                      wrapper: :horizontal_collection_inline,
                      wrapper_html: {class: 'mb-3'} %>

            <% if false %>
          <%
             field = klass.columns[col_name]
             if field[:term]
               c = col_name
               begin
                 z = model.__elasticsearch__.search(
                      aggregations: {
                          col_name => {
                              terms: {
                                  "field": c
                              }
                          }
                      },
                      size: 0
                  )
                 z.aggregations
               rescue StandardError
                 new_col_name = "#{col_name}.keyword"
                 if c != new_col_name
                   c = new_col_name
                   retry
                 end
               end
             end
          %>
              <% end %>

            <% if false %>
          <% if field[:type] == :datetime %>
            <%= text_field_tag :start_time, nil,
                               data: {
                                   controller: "flatpickr",
                                   flatpickr_min_date: Time.zone.now #disables past dates
                               } %>

            <%= text_field_tag :end_time, nil,
                               data: {
                                   controller: "flatpickr",
                                   flatpickr_min_date: Time.zone.now #disables past dates
                               } %>

          <% end %>
              <% end %>

            <% if true %>
            <%= simple_form_for :foo do |f| %>
              <% content_tag :div, data: {
                  controller: 'filter-autocomplete',
                  filter_autocomplete_url: autocompletes_path(col_name: col_name, model: model)
              } do %>
                <%= f.input :name, as: :select %>
              <% end %>
            <% end %>
              <% end %>

            <% if false %>
          <%=
            begin
              debug z.aggregations
            rescue StandardError => e
              ''
            end
          %>
              <% end %>

<!--          </fieldset>-->
          <% end %>
      <% end %>

      <%= f.button :submit, class: 'btn btn-primary' %>
    <% end %>

  </div>
</div>
<% end %>
