<div class="collapse navbar-collapse flex-grow-0" id="navbar-menu">

  <ul class="navbar-nav py-lg-2">

    <%= render Left::Menu::ItemComponent.new(
        options: { 'data-turbo': false },
        title: t('left_menu.dashboard'),
        path: { controller: '/dashboard', action: 'index' },
        current_page: request.path.yield_self { |p| p.include?('dashboard') },
        icon: '<i class="fas fa-solar-panel"></i>',
        disabled: !user_signed_in?
    ) %>

    <%= render Left::Menu::ItemComponent.new(
        options: { 'data-turbo': false },
        title: t('left_menu.feeds'),
        path: { controller: '/tables/feeds', action: 'index' },
        current_page: request.path.yield_self { |p| p.include?('feeds') && p.exclude?('offers') },
        icon: '<i class="fas fa-file-invoice"></i>',
        disabled: false
    ) %>

    <%= render Left::Menu::ItemComponent.new(
        options: { 'data-turbo': false },
        title: t('left_menu.offers'),
        path: { controller: '/tables/offers', action: 'index', feed_id: nil, advertiser_id: nil, feed_category_id: nil },
        current_page: request.path.yield_self { |p| p.include?('offers') && !params[:favorite_id] },
        icon: '<i class="fas fa-shopping-cart"></i>',
        disabled: false
    ) %>

    <%= render Left::Menu::DropdownComponent.new(
      title: t("left_menu.publishing"),
      current_page: request.path.yield_self { |p| p.include?('posts') || p.include?('realms') || p.include?('post_categories') },
      icon: '<i class="fas fa-pen"></i>',
      disabled: !user_signed_in?
    ) do |component| %>

      <% component.items do %>

        <%= render Left::Menu::Dropdown::ItemComponent.new(
          options: { 'data-turbo': false },
          title: t('left_menu.posts'),
          path: { controller: '/tables/posts', action: 'index' },
          current_page: request.path.yield_self { |p| p.include?('posts') },
          # icon: '<i class="fas fa-pen"></i>',
          disabled: !user_signed_in?
        ) %>

        <%= render Left::Menu::Dropdown::ItemComponent.new(
          options: { 'data-turbo': false },
          title: t('left_menu.realms'),
          path: { controller: '/tables/realms', action: 'index' },
          current_page: request.path.yield_self { |p| p.include?('realms') },
          # icon: '<i class="fas fa-window-restore"></i>',
          disabled: !user_signed_in?
        ) %>

        <%= render Left::Menu::Dropdown::ItemComponent.new(
          options: { 'data-turbo': false },
          title: t('left_menu.post_categories'),
          path: { controller: '/tables/post_categories', action: 'index' },
          current_page: request.path.yield_self { |p| p.include?('post_categories') },
          # icon: '<i class="fas fa-stream"></i>',
          disabled: !user_signed_in?
        ) %>
      <% end %>
    <% end %>

    <%# render Left::Menu::ItemComponent.new(
        title: t('left_menu.promotions'),
        path: { controller: '/promotions', action: 'index' },
        current_page: current_page?({controller: '/promotions'}),
        icon: '',
        disabled: false
    ) %>

    <%= render Left::Menu::DropdownComponent.new(
        title: t('left_menu.finances'),
        current_page: request.path.yield_self { |p| p.include?('accounts') || p.include?('checks') || p.include?('transactions') },
        icon: '<i class="fas fa-wallet"></i>',
        disabled: !user_signed_in?
    ) do |component| %>

      <% component.items do %>

        <%= render Left::Menu::Dropdown::ItemComponent.new(
          options: { 'data-turbo': false },
            title: t('left_menu.transactions'),
            path: { controller: '/tables/transactions', action: 'index' },
            current_page: request.path.yield_self { |p| p.include?('transactions') },
            disabled: !user_signed_in?
        ) %>

        <%= render Left::Menu::Dropdown::ItemComponent.new(
            options: { 'data-turbo': false },
            title: t('left_menu.accounts'),
            path: { controller: '/tables/accounts', action: 'index' },
            current_page: request.path.yield_self { |p| p.include?('accounts') },
            disabled: !user_signed_in?
        ) %>

        <%= render Left::Menu::Dropdown::ItemComponent.new(
            options: { 'data-turbo': false },
            title: t('left_menu.checks'),
            path: { controller: '/tables/checks', action: 'index' },
            current_page: request.path.yield_self { |p| p.include?('checks') },
            disabled: !user_signed_in?
        ) %>

      <% end %>
    <% end %>

    <% if policy(:user).index? %>
      <%= render Left::Menu::ItemComponent.new(
        options: { 'data-turbo': false },
        title: t('left_menu.users'),
        path: { controller: '/tables/users', action: 'index' },
        current_page: request.path.yield_self { |p| p.include?('users') },
        icon: '<i class="far fa-user"></i>',
        disabled: false
      ) %>
    <% end %>

    <%= render Left::Menu::ItemComponent.new(
        options: { 'data-turbo': false },
        title: t('left_menu.settings'),
        path: { controller: '/settings/profiles', action: 'edit' },
        current_page: request.path.yield_self { |p| p.include?('profile') || p.include?('password') || p.include?('email') || p.include?('danger_zone') || p.include?('api_key') },
        icon: '<i class="fas fa-cog"></i>',
        disabled: !user_signed_in?
    ) %>

    <% help_realm = Realm.help.find_by(locale: locale) %>

    <% if help_realm %>
      <%= render Left::Menu::ItemComponent.new(
        options: { 'data-turbo': false },
        title: t('left_menu.help'),
        path: articles_url({ host: help_realm.domain, locale: nil }),
        current_page: nil,
        icon: '<i class="fas fa-question-circle"></i>',
        disabled: false
      ) %>
    <% end %>
  </ul>
</div>
