<div class="row flex-grow-1 flex-lg-grow-0 mb-1">

  <% if @workspaces.size > 0 %>
    <div class="subheader mt-lg-3"><%= t('left_menu.workspaces') %></div>
  <% end %>

  <% @workspaces.in_groups(2) do |group| %>
    <div class="col-12 col-sm-6 col-md-6 col-lg-12">
      <div class="list-group list-group-transparent mb-0">
        <% group.each do |workspace| %>
          <% if workspace %>
            <%= tag.span id: dom_id(workspace, 'left'), class: dom_class(workspace, 'left') do %>
              <%= link_to workspace.path do %>
                <span>
                  <%= conditional_tag :b, workspace.is_default, class: 'text-white' do %>
                    <%= workspace.name %>
                  <% end %>
                </span>
              <% end %>
              <%= link_to table_workspace_path(workspace,
                                               model: params[:controller],
                                               **request.params.slice(*GlobalHelper.workspace_params)),
                          data: { confirm: t('are_you_sure'), test_id: "delete-workspace-#{workspace.id}" },
                          method: :delete,
                          class: 'ms-auto' do %>
                <%== GlobalHelper.icon('x') %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
