<%= turbo_frame_tag 'workspace-form', target: "_top" do %>
<div class="row row-deck mb-3">
  <div class="col-sm-10 col-md-9 col-lg-6">
    <div class="card">
      <div class="card-status-start bg-green"></div>
      <div class="card-body">
        <%= simple_form_for @workspace_form,
                            as: :workspace_form,
                            method: :post,
                            url: table_workspaces_path(
                                model: params[:model] || params[:controller],
                                **request.params.slice(*GlobalHelper.workspace_params)),
                            local: true do |f| %>
          <%= f.input :name,
                      input_html: {
                          class: 'mb-1'
                      },
                      placeholder: 'Введите имя',
                      hint: t('.workspaces_hint')
          %>

          <%= f.input :is_default,
                      wrapper_html: {
                          class: 'mt-2'
                      },
                      hint: "Сделайте рабочую область по-умолчанию и она будет открываться автоматически при заходе в раздел. По-умолчанию может быть только одна рабочая область."
          %>

          <%= f.button :submit, t('buttons.save'), class: 'btn btn-primary mt-2' %>

        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
