<% content_for :title do %>
  <%= t(@settings[:plural], scope: ['titles']) %>
<% end %>

<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item">
    <%= link_to t('breadcrumbs.homepage'), root_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to t('breadcrumbs.dashboard'), dashboard_path %>
  </li>
  <li class="breadcrumb-item active">
    <%= link_to t('breadcrumbs.news'), news_index_path %>
  </li>
<% end %>

<div class="col">
  <div class="row">
    <div class="col-md-8 col-lg-9">

      <%= render 'items_summary', rows: rows %>
      <div class="mb-3"></div>

      <% rows.each do |row| %>
        <%= render 'card', row: row %>
      <% end %>

      <%= render 'empty_page' if rows.empty?  %>

      <%= render 'table_footer', rows: rows %>

    </div>

    <div class="col-md-4 col-lg-3 mb-3">
      <%= turbo_frame_tag 'news-by-month', src: frames_news_month_path(request.params.slice('per', 'sort', 'order', 'month')) %>
      <div class="my-3"></div>
      <%= turbo_frame_tag 'news-by-tag', src: frames_news_tag_path(request.params.slice('per', 'sort', 'order', 'tag')) %>
    </div>

  </div>
</div>
