<% seo.title! t("titles.settings") %>

<% content_for :breadcrumbs do %>
  <%= render BreadcrumbComponent.new do |b| %>
    <%= b.root_item(title: t('breadcrumbs.homepage'), url: root_path) %>
    <%= b.item(title: t('breadcrumbs.dashboard'), url: dashboard_path) %>
    <%= b.item(title: t('breadcrumbs.profile'), url: edit_settings_profile_path) %>
  <% end %>
<% end %>

<div class="col">
  <div class="card card-md">

    <div class="card-body">

      <div class="row">

        <div class="col-md-3">
          <%= render ProfileListComponent.new %>
        </div>

        <div class="col-md-9 col-xl-8">

          <h2 class="mb-4"><%= t('.profile') %></h2>

          <div class="row">

            <div class="col col-12 col-sm-3 col-md-4 order-sm-last mb-3 d-flex justify-content-center">

              <div>
                <label class="string required" for="resource_name_location">Avatar</label>
                <%= tag.div data: {controller: 'profile-avatar'}, id: "avatar-clickable" do %>
                  <%= form_tag settings_avatar_path,
                               class: 'dropzone d-flex align-items-center justify-content-center h-100 p-2',
                               'data-profile-avatar-target': "dropzoneComponent" do %>
                    <div class="dz-message">
                      <% if current_user.avatar.attached? %>
                        <%= image_tag current_user.avatar.variant(resize_to_limit: [200, 200])  %>
                      <% else %>
                        <%= t('drop_image_here_or_click') %>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>

            <div class="col col-sm-9 col-md-8">
              <%= render 'form' %>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
