<!--<h3><%#= t(".cancel_my_account") %></h3>-->

<!--<p><%#= t(".unhappy") %> <%#= link_to t(".cancel_my_account"), registration_path(resource_name), data: { confirm: t(".are_you_sure") }, method: :delete %></p>-->

<% scope = [''] %>

<% content_for :title do %>
  <%= t("Settings.title") %>
<% end %>

<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item">
    <%= link_to t('home'), dashboard_path %>
  </li>
  <li class="breadcrumb-item active">
    <%= link_to t('edit profile'), articles_path %>
  </li>
<% end %>

<div class="card card-md">

  <div class="card-body">

    <div class="row">

      <div class="col-lg-3">
        <%= render NavComponent.new %>
      </div>

      <div class="col-lg-9">

        <%= render InpageTitleComponent.new(
            title: t("profile edit")
        ) %>

        <div class="row">

          <div class="col-lg-7">

            <%= simple_form_for(current_user.profile || current_user.build_profile, as: 'resource_name', url: settings_profile_path, html: {method: :put}) do |f| %>

              <%= f.error_notification %>

              <div class="form-inputs">

                <%= f.input :name,
                            required: true,
                            input_html: {autocomplete: "name"},
                            wrapper_html: {class: 'mb-3'} %>

                <%= f.input :bio,
                            required: true,
                            input_html: {rows: 4},
                            wrapper_html: {class: 'mb-3'} %>

                <%= f.input :location,
                            required: true,
                            input_html: {autocomplete: "location"},
                            wrapper_html: {class: 'mb-3'} %>

                <div class="mb-3">
                  <label class="string required" for="resource_name_location">Location
                    <abbr title="required">*</abbr></label>
                  <div class="input-group">
                    <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Action
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">
                        Action
                      </a>
                      <a class="dropdown-item" href="#">
                        Another action
                      </a>
                    </div>
                    <input type="text" class="form-control" aria-label="Text input with dropdown button">
                  </div>
                </div>

                <div class="mb-3">
                  <label class="string required" for="resource_name_location">Location
                    <abbr title="required">*</abbr></label>
                  <select name="tags-advanced" id="select-tags-advanced" class="form-select" multiple>
                    <option value="HTML">HTML</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="CSS">CSS</option>
                    <option value="jQuery">jQuery</option>
                    <option value="Bootstrap">Bootstrap</option>
                    <option value="Ruby" selected>Ruby</option>
                    <option value="Python" selected>Python</option>
                  </select>
                </div>

                <div class="form-footer">
                  <%= f.button :submit, t(".update", scope: scope), class: 'btn btn-primary' %>
                </div>

              </div>

            <% end %>

          </div>

          <div class="offset-lg-1 col">

            <label class="string required" for="resource_name_location">Avatar</label>

            <div id="avatar-clickable">
              <%= form_tag settings_avatar_path, class: 'dropzone', id: "avatar-dropzone" do %>
                <div class="dz-message">
                  <% if current_user.avatar.attached? %>
                    <%= image_tag current_user.avatar  %>
                  <% else %>
                    Drop image here or click to upload
                  <% end %>
                </div>
              <% end %>
            </div>

            <template id="avatar-template">
              <%= render 'avatar_template' %>
            </template>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>
