<% content_for :title do %>
  <%= t("titles.settings") %>
<% end %>

<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item">
    <%= link_to t('breadcrumbs.homepage'), root_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to t('breadcrumbs.dashboard'), dashboard_path %>
  </li>
  <li class="breadcrumb-item active">
    <%=link_to t('breadcrumbs.profile'), edit_settings_profile_path %>
  </li>
<% end %>

<% scope = [''] %>

<div class="card card-md">

  <div class="card-body">

    <div class="row">

      <div class="col-md-3">
        <%= render ProfileListComponent.new %>
      </div>

      <div class="col-md-9 col-xl-8">

        <%= render InpageTitleComponent.new(
            title: t("profile edit")
        ) %>

        <div class="row">

          <div class="col col-12 col-sm-4 order-sm-last mb-3 d-flex justify-content-center">

            <div>
              <label class="string required" for="resource_name_location">Avatar</label>
              <div id="avatar-clickable">
                <%= form_tag settings_avatar_path,
                             class: 'dropzone d-flex align-items-center justify-content-center h-100 p-2',
                             id: "avatar-dropzone" do %>
                  <div class="dz-message">
                    <% if current_user.avatar.attached? %>
                      <%= image_tag current_user.avatar  %>
                    <% else %>
                      Drop image here or click to upload
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

          <div class="col col-sm-8">

            <%= simple_form_for(current_user.profile || current_user.build_profile, as: 'resource_name', url: settings_profile_path, html: {method: :put}) do |f| %>

              <%= f.error_notification %>

              <div class="form-inputs">

                <%= f.input :name,
                            required: true,
                            input_html: {autocomplete: "name"},
                            wrapper_html: {class: 'mb-3'} %>

                <%= f.input :bio,
                            required: true,
                            input_html: {rows: 4},
                            wrapper_html: {class: 'mb-3'} %>

                <%= f.input :location,
                            required: true,
                            input_html: {autocomplete: "location"},
                            wrapper_html: {class: 'mb-3'} %>

                <div class="mb-3">
                  <label class="string required" for="resource_name_location">Location
                    <abbr title="required">*</abbr></label>
                  <div class="input-group">
                    <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Action
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">
                        Action
                      </a>
                      <a class="dropdown-item" href="#">
                        Another action
                      </a>
                    </div>
                    <input type="text" class="form-control" aria-label="Text input with dropdown button">
                  </div>
                </div>

                <%= f.input :languages,
                            required: true,
                            input_html: {class: 'selectize-languages', multiple: true},
                            wrapper_html: {class: 'mb-3'},
                            as: :select,
                            collection: [['English', 'english'], ['Русский', 'russian']]

                %>

                <div class="form-footer">
                  <%= f.button :submit, t(".update", scope: scope), class: 'btn btn-primary' %>
                </div>

              </div>

            <% end %>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>
