<% if @post_category %>
  <% seo.title! @post_category.to_label %>
<% else %>
  <% seo.title! Current.realm.to_label %>
<% end %>

<% content_for :breadcrumbs do %>
  <%= render BreadcrumbComponent.new do |b| %>
    <% unless current_page?(root_url) %>
      <%= b.root_item title: t('breadcrumbs.homepage'), url: root_path %>
    <% end %>
    <% if params[:tag] %>
      <%= b.item title: params[:tag], url: articles_by_tag_path(params[:tag]) %>
    <% end %>
    <% if params[:month] %>
      <%= b.item title: params[:month], url: articles_by_month_path(params[:month]) %>
    <% end %>
    <% if @post_category %>
      <% @post_category.path.each do |post_category| %>
        <% b.item title: post_category.to_label, url: articles_by_category_link(post_category.id) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= render 'items_summary', rows: rows %>
<div class="mb-3"></div>

<% rows.each do |row| %>
  <%= render 'card', row: row %>
<% end %>

<%= render 'empty_page' if rows.empty?  %>

<%= render 'table_footer', rows: rows %>

<% content_for :left_bar do %>
  <%= turbo_frame_tag 'articles-by-category', src: frames_articles_category_path(category_id: params[:category_id], per: params[:per], sort: params[:sort], order: params[:order]) %>
<% end %>

<% content_for :right_bar do %>
  <%= turbo_frame_tag 'articles-by-month', src: frames_articles_month_path(month: params[:month], per: params[:per], sort: params[:sort], order: params[:order]) %>
  <div class="my-3"></div>
  <%= turbo_frame_tag 'articles-by-tag', src: frames_articles_tag_path(tag: params[:tag], per: params[:per], sort: params[:sort], order: params[:order]) %>
<% end %>
