
<!DOCTYPE html>
<html>
  <head>
    <title>Hub</title>
    <meta
      name="viewport"
      content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no"
    />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <script src="/ckeditor/build/ckeditor.js"></script>
    <script src="/ckeditor/build/translations/zh.js"></script>
    <script src="/ckeditor/build/translations/ru.js"></script>
    <script type="text/javascript">
      var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
      (function () {
          var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
          s1.async = true;
          s1.src = 'https://embed.tawk.to/5e06548627773e0d832ae8a4/default';
          s1.charset = 'UTF-8';
          s1.setAttribute('crossorigin', '*');
          s0.parentNode.insertBefore(s1, s0);
      })();
    </script>
  </head>

  <body>

    <div id="root">
    <%= yield %>
    </div>

    <script>
    </script>

  </body>
</html>
