<% content_for :prefix_inline_js do %>
  <%= render TawkComponent.new %>
<% end %>

<% content_for(:body) do %>

  <%= tag.body class: "antialiased",
               'data-controller': "global",
               'data-action': "star-favorite-item:showToast->global#showToast
                               star-favorite:showToast->global#showToast
                               modal-embed:showToast->global#showToast
                               clipboard:showToast->global#showToast
                               offer-modal-card:showToast->global#showToast
                               navbar-favorite:showToast->global#showToast",
               **data_attributes_for_body do %>

  <div class="position-absolute" style="z-index: 30;">
    <div data-target="global.toastPlaceholder" class="position-fixed" style="top: 0; right: 0;">
    </div>
  </div>

  <%= content_for :prefix_inline_css %>
  <%= content_for :prefix_inline_js %>

  <aside class="navbar navbar-vertical navbar-expand-lg navbar-dark">

    <div class="container">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu"  style="width: initial; height: initial;">
        <div class="navbar-brand navbar-brand-autodark">
          <%= image_tag(asset_pack_path('media/images/logo-white.svg'), width: "110", height: "32", class: "navbar-brand-image") %>
        </div>
      </button>

      <%= render 'navbar_mobile' %>
      <%= render 'navbar_menu' %>

      <%= render 'mobile_search_wrapper' do %>
        <%= render 'search_bar', btn_class: 'btn-secondary capybara-mobile-header-search' %>
      <% end %>

      <div class="w-100"></div>

      <%= content_for :left_menu %>
    </div>

  </aside>

  <section class="page">

    <%= render 'desktop_header' %>

    <main class="content">

      <div class="container-xl">

        <% if content_for?(:title) || content_for?(:breadcrumbs) %>
          <div class="page-header">
            <div class="row align-items-center">
              <div class="col-12">

                <% if content_for?(:title) %>
                  <h1 class="page-title">
                    <%= content_for :title %>
                  </h1>
                <% end %>

                <% if content_for?(:breadcrumbs) %>
                  <ol class="breadcrumb breadcrumb-arrows" aria-label="breadcrumbs">
                    <%= content_for :breadcrumbs %>
                  </ol>
                <% end %>

              </div>
            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="col-12">
            <%= render TopPageNotifyComponent.new(message: alert, alert_type: 'warning') %>
            <%= render TopPageNotifyComponent.new(message: notice, alert_type: 'primary') %>
          </div>
        </div>

        <div class="row">
          <%= yield %>
        </div>

      </div>

      <%= render template: 'layouts/footer' %>

    </main>
  </section>

  <%= content_for :postfix_inline_css %>
  <%= content_for :postfix_inline_js %>
  <%= content_for :before_body_close %>

  <div data-controller="modal-singleton"></div>
  <% end %>
<% end %>

<%= render template: 'layouts/blank' %>
