<% content_for(:before_head_close) do %>
  <%= render 'trackers_google' %>
  <%= render 'trackers_yandex' %>
<% end %>

<%= content_for(:after_body_open) do %>
  <%= render 'trackers_tawk' %>
<% end %>

<% content_for(:body) do %>

  <%= tag.body class: "antialiased",
               **data_attributes_for_body do %>

  <%= content_for(:after_body_open) %>

  <div class="position-absolute" style="z-index: 10000">
    <div data-global-target="toastPlaceholder" class="position-fixed" style="top: 0; right: 0;">
    </div>
  </div>

  <aside class="navbar navbar-vertical navbar-expand-lg navbar-dark">

    <div class="container">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu"  style="width: initial; height: initial;">
        <div class="navbar-brand navbar-brand-autodark">
          <%= image_tag(asset_pack_path('media/images/logo-white.svg'), width: "110", height: "32", class: "navbar-brand-image") %>
        </div>
      </button>

      <%= render 'navbar_mobile' %>
      <%= render 'navbar_menu' %>

      <%= render 'mobile_search_wrapper' do %>
        <%= render 'search_bar', btn_class: 'btn-secondary' %>
      <% end %>

      <div class="w-100"></div>

      <%= content_for :left_menu %>
    </div>

  </aside>

  <section class="page">

    <%= render 'desktop_header' %>

    <main class="content">

      <div class="container-xl">
        <% if seo.title.present? || content_for?(:breadcrumbs) %>
          <div class="page-header pb-0 mb-0">
            <div class="row align-items-center">
              <div class="col-12">

                <div class="d-flex">
                  <% if seo.title.present? %>
                    <h1 class="page-title">
                      <%= seo.title %>
                    </h1>
                    <%= content_for :star %>
                  <% end %>
                </div>

              </div>
            </div>
          </div>
        <% end %>

        <% if content_for?(:breadcrumbs) %>
          <div class="overflow-auto pt-1 pb-3 py-xl-1 mb-3">
            <ol class="breadcrumb breadcrumb-arrows flex-nowrap text-nowrap">
              <%= content_for :breadcrumbs %>
            </ol>
          </div>
        <% end %>

        <div class="row">
          <div class="col-12">
            <%= render TopPageNotifyComponent.new(message: alert, alert_type: 'warning') %>
            <%= render TopPageNotifyComponent.new(message: notice, alert_type: 'primary') %>
          </div>
        </div>

        <div class="row">
          <%= yield %>
        </div>

      </div>

      <%= render template: 'layouts/footer' %>

    </main>
  </section>

    <div data-controller="modal-singleton"></div>

    <%= content_for :before_body_close %>

  <% end %>
<% end %>

<%= render template: 'layouts/blank' %>
