<!doctype html>
<%= tag.html lang: I18n.locale.downcase do %>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
  <title><%= content_for :title %></title>
  <!--  <meta name="robots" content="noindex,nofollow,noarchive"/>-->
  <!--  <meta name="turbo-visit-control" content="reload">-->

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_packs_with_chunks_tag 'application' %>
  <%= javascript_packs_with_chunks_tag 'application' %>

  <%= render 'google_analytics' %>
  <%= render 'yandex_metrica' %>
</head>

<%= content_for(:body) %>

<% end %>
