<%= content_for(:after_body_open) do %>
  <%= render 'trackers_tawk' %>
<% end %>

<% content_for(:before_head_close) do %>
  <%= render 'trackers_google' %>
  <%= render 'trackers_yandex' %>
<% end %>

<% content_for :body do %>

  <%= tag.body class: 'antialiased border-top-wide border-primary d-flex flex-column',
               **data_attributes_for_body do  %>

    <%= content_for(:after_body_open) %>

    <div class="flex-fill d-flex flex-column justify-content-center">
      <div class="container-tight py-6">
        <%= yield %>
      </div>
    </div>

    <%= content_for :before_body_close %>

  <% end %>
<% end %>

<%= render template: 'layouts/blank' %>
