<% content_for :body do %>

  <%= tag.body class: 'antialiased border-top-wide border-primary d-flex flex-column',
               'data-controller': "global",
               **data_attributes_for_body do  %>

    <%= render 'tawk' %>
    <%= content_for :prefix_inline_css %>
    <%= content_for :prefix_inline_js %>

    <div class="flex-fill d-flex flex-column justify-content-center">
      <div class="container-tight py-6">
        <%= yield %>
      </div>
    </div>

    <%= content_for :postfix_inline_css %>
    <%= content_for :postfix_inline_js %>

  <% end %>
<% end %>

<%= render template: 'layouts/blank' %>
