<%= content_for(:after_body_open) do %>
  <%= render 'trackers_tawk' %>
<% end %>

<% content_for(:before_head_close) do %>
  <%= render 'trackers_google' %>
  <%= render 'trackers_yandex' %>
<% end %>

<% content_for :body do %>

  <%= tag.body class: 'tw-antialiased tw-flex tw-flex-col tw-min-h-screen tw-bg-neutral-100',
               **data_attributes_for_body do  %>

    <%= content_for(:after_body_open) %>

    <%= yield %>

    <%= content_for :before_body_close %>

    <div class="tw-hidden sm:tw-block tw-fixed tw-w-full tw-bottom-0 -tw-z-40 tw-max-w-full tw-h-80?">
      <svg  viewBox="0 0 300 120" xmlns="http://www.w3.org/2000/svg">
        <path  d="M0 64.5L35.2 50.1667C71.4667 35.8333 141.867 7.16667 213.333 3.58333C284.8 0 355.2 21.5 426.667 25.0833C498.133 28.6667 568.533 14.3333 640 14.3333C711.467 14.3333 781.867 28.6667 853.333 46.5833C924.8 64.5 995.2 86 1066.67 78.8333C1138.13 71.6667 1208.53 35.8333 1244.8 17.9167L1280 0V129H1244.8C1208.53 129 1138.13 129 1066.67 129C995.2 129 924.8 129 853.333 129C781.867 129 711.467 129 640 129C568.533 129 498.133 129 426.667 129C355.2 129 284.8 129 213.333 129C141.867 129 71.4667 129 35.2 129H0V64.5Z" fill="#e5e7eb" fill-opacity="1"/>
      </svg>
    </div>

  <% end %>

<% end %>

<%= render template: 'layouts/blank' %>
