<% content_for :prefix_inline_js do %>
  <%= render TawkComponent.new %>
<% end %>

<% content_for(:body) do %>

  <body class="antialiased">

  <%= content_for :prefix_inline_css %>
  <%= content_for :prefix_inline_js %>

  <aside class="navbar navbar-vertical navbar-expand-lg navbar-dark">

    <div class="container">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu">
        <span class="navbar-toggler-icon"></span>
      </button>

      <%= link_to root_path, class: 'navbar-brand navbar-brand-autodark' do %>
        <img src="https://preview-dev.tabler.io/static/logo-white.svg" alt="Tabler" class="navbar-brand-image">
      <% end %>

      <div class="navbar-nav flex-row d-lg-none">

        <div class="nav-item dropdown d-none d-md-flex mr-3">

          <a href="#" class="nav-link px-0" data-toggle="dropdown" tabindex="-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><path d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6" /><path d="M9 17v1a3 3 0 0 0 6 0v-1" /></svg>
            <span class="badge bg-red"></span>
          </a>

          <div class="dropdown-menu dropdown-menu-right dropdown-menu-card">
            <div class="card">
              <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad amet consectetur exercitationem fugiat in ipsa ipsum, natus odio quidem quod repudiandae sapiente. Amet debitis et magni maxime necessitatibus ullam.
              </div>
            </div>
          </div>

        </div>

        <div class="nav-item dropdown">

          <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-toggle="dropdown">
            <span class="avatar" style="background-image: url(https://preview-dev.tabler.io/static/avatars/000m.jpg)"></span>
            <div class="d-none d-xl-block pl-2">
              <div>Paweł Kuna</div>
              <div class="mt-1 small text-muted">UI Designer</div>
            </div>
          </a>

          <div class="dropdown-menu dropdown-menu-right">

            <a class="dropdown-item" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon dropdown-item-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><path d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" /><circle cx="12" cy="12" r="3" /></svg>
              Action
            </a>

            <a class="dropdown-item" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon dropdown-item-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><path d="M9 7 h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3" /><path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3" /><line x1="16" y1="5" x2="19" y2="8" /></svg>
              Another action
            </a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><svg xmlns="http://www.w3.org/2000/svg" class="icon dropdown-item-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
              Separated link</a>
          </div>

        </div>
      </div>

      <div class="collapse navbar-collapse" id="navbar-menu">

        <ul class="navbar-nav pt-lg-3">

          <%= render Left::Menu::ItemComponent.new(
              title: 'Новости',
              path: { controller: '/articles', action: 'index' },
              current_page: current_page?(controller: '/articles'),
              icon: render(Icons::NewsComponent.new())
          ) %>

          <%= render Left::Menu::DropdownComponent.new(
              title: t('links.settings'),
              current_page:
                  params['controller'] == 'settings/passwords' ||
                      params['controller'] == 'settings/emails' ||
                      params['controller'] == 'settings/profiles',
              icon: render(Icons::SettingsComponent.new()),
              disabled: !user_signed_in?
          ) do |component| %>

            <% component.with(:items) do %>

              <%= render Left::Menu::Dropdown::ItemComponent.new(
                  title: t('profile'),
                  path: edit_settings_profile_path,
                  current_page: params['controller'] == 'settings/profiles',
                  disabled: !user_signed_in?
              ) %>

              <%= render Left::Menu::Dropdown::ItemComponent.new(
                  title: t('password'),
                  path: edit_settings_password_path,
                  current_page: params['controller'] == 'settings/passwords',
                  disabled: !user_signed_in?
              ) %>

              <%= render Left::Menu::Dropdown::ItemComponent.new(
                  title: t('email'),
                  path: edit_settings_email_path,
                  current_page: params['controller'] == 'settings/emails',
                  disabled: !user_signed_in?
              ) %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </aside>

  <div class="page">
    <%= render 'header' %>
    <div class="content">
      <div class="container-xl">
        <div class="page-header">
          <div class="row align-items-center">

            <%= render TopPageNotifyComponent.new(message: alert, alert_type: 'warning') %>
            <%= render TopPageNotifyComponent.new(message: notice, alert_type: 'primary') %>

            <div class="col-auto">
              <h1 class="page-title">
                <%= content_for :title %>
              </h1>

              <ol class="breadcrumb breadcrumb-arrows" aria-label="breadcrumbs">
                <%= content_for :breadcrumbs %>
              </ol>

            </div>
          </div>
        </div>

        <div class="row row-deck row-cards">
          <%= yield %>
        </div>

      </div>

      <%= render template: 'layouts/footer' %>

    </div>
  </div>

  <%= content_for :postfix_inline_css %>
  <%= content_for :postfix_inline_js %>

  </body>
<% end %>

<%= render template: 'layouts/blank' %>
