<% content_for :prefix_inline_js do %>
  <%= render TawkComponent.new %>
<% end %>

<% content_for :body do %>

  <body data-controller="global" data-controller="global">

    <%= content_for :prefix_inline_css %>
    <%= content_for :prefix_inline_js %>

    <%= render TopPageNotifyComponent.new(message: alert, alert_type: 'warning') %>
    <%= render TopPageNotifyComponent.new(message: notice, alert_type: 'primary') %>

    <%= link_to 'Dashboard', dashboard_url %>

    <%= yield %>

    <%= content_for :postfix_inline_css %>
    <%= content_for :postfix_inline_js %>

  </body>

<% end %>

<%= render template: 'layouts/blank' %>
