<%= content_for(:after_body_open) do %>
  <%= render 'trackers_tawk' %>
<% end %>

<% content_for(:before_head_close) do %>
  <%= render 'trackers_google' %>
  <%= render 'trackers_yandex' %>
<% end %>

<% content_for :after_body_open do %>
  <style>
      body {
          background: url(<%= asset_pack_path 'media/images/world_map.png' %>) no-repeat left !important;
          text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
          box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
      }

      .noshadow {
          text-shadow: none;
      }

      .nav-link {
          color: white;
      }

      .nav-link:hover {
          color: rgba(255, 255, 255, 0.7);
      }
  </style>
<% end %>

<% content_for :body do %>

  <%= tag.body class: "d-flex h-100 text-white bg-dark",
               'data-controller': "global",
               **data_attributes_for_body do %>

  <%= content_for(:after_body_open) %>

  <div class="container-lg d-flex w-100 h-100 p-3 mx-auto flex-column" style="max-width: 90em">

    <div class="noshadow mb-4">
      <%= render TopPageNotifyComponent.new(message: alert, alert_type: 'warning') %>
      <%= render TopPageNotifyComponent.new(message: notice, alert_type: 'primary') %>
    </div>

    <header class="row mb-auto">
      <div class="col-lg-5 col-6">
        <%= image_tag(asset_pack_path('media/images/logo-white.svg'), width: "110", height: "32", class: "navbar-brand-image") %>
      </div>
      <div class="col-lg-7 col-6 d-flex">
        <div class="ms-auto noshadow">
          <%= render Header::LanguageComponent.new %>
        </div>
      </div>
    </header>

    <main class="align-items-center row">

      <div class="col-lg-5 mb-4">
        <h1 class="fs-1 my-3"><%= t('.title') %></h1>
        <p class="fs-5 mb-4"><%= t('.tagline') %></p>
        <p class="lead">
          <% if current_user %>
            <%= link_to t('.dashboard'), dashboard_path, class: 'noshadow btn btn-lg btn-white fw-bold', 'data-turbo': false %>
          <% else %>
            <%= link_to t('.link'), offers_path, class: 'noshadow btn btn-lg btn-white fw-bold', 'data-turbo': false %>
          <% end %>
        </p>
      </div>


      <div class="ps-lg-4 ps-xxl-5 col-lg-7 d-flex justify-content-center">
        <div class="ratio ratio-16x9 border border-white border-4" style="max-width: 50em;">
          <iframe src="https://www.youtube.com/embed/yrwe6NaRgGA" title="Explainer" allowfullscreen></iframe>
        </div>
      </div>

    </main>

    <footer class="mt-auto text-white-50">
      <div class="_container-xl">
        <div class="row texnot-center align-items-center flex-row-reverse">
          <div class="col-lg-auto ms-lg-auto">
            <ul class="list-inline list-inline-dots mb-0 ms-0">
              <li class="list-inline-item">
                <a href="https://rubyonrails.org" class="link-secondary">Made with ❤ Ruby on Rails</a>
              </li>
            </ul>
          </div>
          <div class="col-12 col-lg-auto mt-3 mt-lg-0">
            Copyright © 2020
            <a href="/" class="link-secondary">Good Reviews</a>.
            All rights reserved.
            <br>
            г. Москва, ул. 8 Марта, д. 8, корп. 2, оф. 83, <a class="link-secondary text-nowrap" href="https://t.me/woto7">+7 (916) 907-27-88</a>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <%= content_for :before_body_close %>

  <% end %>

<% end %>

<%= render template: 'layouts/blank' %>
