<%= content_for(:after_body_open) do %>
  <%= render 'trackers_tawk' %>
<% end %>

<%= content_for(:after_head_open) do %>
  <%== Current.realm.after_head_open %>
<% end %>

<%= content_for(:before_head_close) do %>
  <%== Current.realm.before_head_close %>
<% end %>

<% content_for(:after_body_open) do %>
  <%== Current.realm.after_body_open %>
<% end %>

<% content_for(:before_body_close) do %>
  <%== Current.realm.before_body_close %>
<% end %>

<% content_for :body do %>
  <body class="antialiased">

    <%= content_for(:after_body_open) %>

    <div class="wrapper">
      <aside class="navbar navbar-vertical navbar-expand-lg navbar-transparent">
        <div class="container-fluid">

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
            <span class="navbar-toggler-icon"></span>
          </button>
          <h1 class="navbar-brand navbar-brand-autodark">
            <%= link_to root_path do %>
              <%= image_tag(asset_path('logo.svg'), width: "110", height: "32", class: "navbar-brand-image") %>
            <% end %>
          </h1>

          <div class="collapse navbar-collapse" id="navbar-menu">
            <%= content_for :left_bar %>
          </div>
        </div>
      </aside>

      <section class="page">
        <main class="content">
          <div class="container-xl">

            <% if seo.title.present? || content_for?(:breadcrumbs) %>
              <div class="page-header pb-0 mb-0">
                <div class="row align-items-center">
                  <div class="col-12">

                    <div class="d-flex">
                      <% if seo.title.present? %>
                        <h1 class="page-title flex-grow-1">
                          <%= seo.title %>
                        </h1>
                      <% end %>

                    </div>

                  </div>
                </div>
              </div>
            <% end %>

            <% if content_for?(:breadcrumbs) %>
              <div class="overflow-auto pt-1 pb-3 py-xl-1 mb-3">
                <ol class="breadcrumb breadcrumb-arrows flex-nowrap text-nowrap">
                  <%= content_for :breadcrumbs %>
                </ol>
              </div>
            <% end %>

            <div class="row">
              <div class="col max-width-600">
                <%= yield %>
              </div>

              <div class="col-12 col-md-4 col-lg-4 col-xl-4 col-xxl-3">
                <div class="mb-3">
                  <%= render 'search_bar', btn_class: 'btn-light' %>
                </div>

                <%= content_for :right_bar %>
              </div>
            </div>
          </div>

          <%= render 'articles/footer' %>

        </main>
      </section>
    </div>

    <%= content_for :before_body_close %>

  </body>
<% end %>

<%= render template: 'layouts/blank' %>
