<p><%= t('greeting', scope: ['devise', 'mailer', 'reset_password_instructions'], recipient: @resource.email) %></p>

<p><%= t('instruction', scope: ['devise', 'mailer', 'reset_password_instructions']) %></p>

<p><%= link_to t('action', scope: ['devise', 'mailer', 'reset_password_instructions']), reset_password_url(reset_password_token: @token) %></p>

<p><%= t('instruction_2', scope: ['devise', 'mailer', 'reset_password_instructions']) %></p>
<p><%= t('instruction_3', scope: ['devise', 'mailer', 'reset_password_instructions']) %></p>
